/** === !Blocks === */
/*
 * CSS4 Variables with Fallbacks Using Sass
 * src: https://codepen.io/jakealbaugh/post/css4-variables-with-fallbacks-using-sass
 */
@import url(https://fonts.googleapis.com/css?family=Space+Mono);
/*
body {
  @include globalvar(font-size, base);
  @include globalvar(font-family, body);
  @include globalvar(line-height, body);
  @include globalvar(background-color, background);

  // color it red if no CSS4 variables
  color: red;
  // override "show standard" with "null" which means no CSS4 support will still be red
  // if we didn't do this, it would create the fallback.
  @include globalvar(color, text, null);
}

h1, h2, h3, h4 {
  @include globalvar(line-height, heading);
  @include globalvar(font-family, heading);
}

h1 { @include globalvar(font-size, h1); }
h2 { @include globalvar(font-size, h2); }
h3 { @include globalvar(font-size, h3); }
h4 { @include globalvar(font-size, h4); }
*/
.entry-content > *.alignwide,
.entry-summary > *.alignwide {
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .entry-content > *.alignwide,
    .entry-summary > *.alignwide {
      max-width: calc( 9 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-9);
      margin-right: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-2); } }
  @media only screen and (min-width: calc( 12 * ( 80px + 25px ) - 25px)) {
    .entry-content > *.alignwide,
    .entry-summary > *.alignwide {
      margin-right: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-2); } }

.entry-content > *.alignfull,
.entry-summary > *.alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%; }

.entry-content > *.alignleft,
.entry-summary > *.alignleft {
  float: left;
  max-width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .entry-content > *.alignleft,
    .entry-summary > *.alignleft {
      margin-left: calc( 4 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-left: var(--space-column-4);
      margin-right: calc(0.75 * var(--space-unit));
      margin-right: var(--space-sm);
      margin-left: calc( 100vw - ( calc( 10 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)) - 25px ));
      max-width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }
  @media only screen and (min-width: calc( 12 * ( 80px + 25px ) - 25px)) {
    .entry-content > *.alignleft,
    .entry-summary > *.alignleft {
      margin-left: calc( calc( 12 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)) - ( calc( 10 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)) - 25px )); } }

.entry-content > *.alignright,
.entry-summary > *.alignright {
  float: right;
  max-width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .entry-content > *.alignright,
    .entry-summary > *.alignright {
      margin-left: calc(0.75 * var(--space-unit));
      margin-left: var(--space-sm);
      max-width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }

.wp-block-button .wp-block-button__link {
  background-color: var(--color-primary-base);
  color: var(--color-shade-white);
  color: var(--color-words-background);
  padding-top: calc(0.25 * var(--space-unit));
  padding-top: var(--space-xxs);
  padding-bottom: calc(0.25 * var(--space-unit));
  padding-bottom: var(--space-xxs);
  padding-left: calc(0.5 * var(--space-unit));
  padding-left: var(--space-xs);
  padding-right: calc(0.5 * var(--space-unit));
  padding-right: var(--space-xs);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  font-size: calc(1em / var(--font-size-ratio));
  font-size: var(--font-size-sm);
  line-height: 1.4;
  line-height: var(--font-leading-body);
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid green;
  border-color: var(--color-primary-base);
  border-color: var(--color-border-primary);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase; }
  .wp-block-button .wp-block-button__link:hover {
    border-color: var(--color-primary-base);
    border-color: var(--color-border-primary);
    background-color: var(--color-shade-white);
    color: var(--color-primary-base);
    color: var(--color-words-primary); }
  .wp-block-button .wp-block-button__link:active, .wp-block-button .wp-block-button__link:focus {
    border-color: transparent;
    border-color: var(--color-border-base);
    background-color: var(--color-shade-white);
    color: var(--color-shade-gray-6);
    color: var(--color-words-subtle); }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-button .wp-block-button__link {
      padding-top: calc(0.5 * var(--space-unit));
      padding-top: var(--space-xs);
      padding-bottom: calc(0.5 * var(--space-unit));
      padding-bottom: var(--space-xs);
      padding-left: calc(0.75 * var(--space-unit));
      padding-left: var(--space-sm);
      padding-right: calc(0.75 * var(--space-unit));
      padding-right: var(--space-sm); } }

.wp-block-audio audio {
  width: 100%; }

.wp-block-audio.alignleft audio,
.wp-block-audio.alignright audio {
  width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-audio.alignleft audio,
    .wp-block-audio.alignright audio {
      width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }

.wp-block-image img {
  display: block; }
  .wp-block-image img.alignleft, .wp-block-image img.alignright {
    max-width: 100%; }
  .wp-block-image img.alignfull img {
    width: 100vw;
    margin-left: auto;
    margin-right: auto; }

.wp-block-cover-image {
  width: inherit; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-cover-image {
      width: 100%; } }
  .wp-block-cover-image.alignleft {
    margin-top: 0;
    margin-right: calc(0.75 * var(--space-unit));
    margin-right: var(--space-sm); }
  .wp-block-cover-image.alignright {
    margin-top: 0;
    margin-left: calc(0.75 * var(--space-unit));
    margin-left: var(--space-sm); }
  .wp-block-cover-image .wp-block-cover-image-text,
  .wp-block-cover-image h2 {
    font-weight: 400;
    padding: calc(0.5 * var(--space-unit));
    padding: var(--space-xs);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: var(--font-family-body);
    line-height: 1.2;
    line-height: var(--font-leading-heading);
    letter-spacing: normal;
    text-transform: none;
    margin: 0; }

[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover-image {
  max-width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    [data-align=left] .wp-block-cover-image,
    [data-align=right] .wp-block-cover-image {
      max-width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }

.wp-block-gallery {
  list-style: none; }
  .wp-block-gallery .blocks-gallery-item,
  .wp-block-gallery .blocks-gallery-image {
    margin: 0;
    padding-left: 0; }
    .wp-block-gallery .blocks-gallery-item:before,
    .wp-block-gallery .blocks-gallery-image:before {
      content: "";
      display: none; }
    .wp-block-gallery .blocks-gallery-item figure,
    .wp-block-gallery .blocks-gallery-image figure {
      display: flex;
      flex-direction: column; }
    .wp-block-gallery .blocks-gallery-item figcaption,
    .wp-block-gallery .blocks-gallery-image figcaption {
      position: relative;
      padding: 0;
      max-height: inherit;
      background: transparent; }

[data-align=left] .wp-block-gallery,
[data-align=right] .wp-block-gallery {
  max-width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    [data-align=left] .wp-block-gallery,
    [data-align=right] .wp-block-gallery {
      max-width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }

.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  color: var(--color-shade-gray-6);
  color: var(--color-words-subtle);
  padding-top: calc(0.25 * var(--space-unit));
  padding-top: var(--space-xxs);
  padding-bottom: calc(0.25 * var(--space-unit));
  padding-bottom: var(--space-xxs);
  padding-left: 0;
  padding-right: 0;
  font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
  font-size: var(--font-size-xs);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  text-align: left;
  margin: 0; }

.wp-block-audio.alignfull figcaption,
.wp-block-video.alignfull figcaption,
.wp-block-image.alignfull figcaption,
.wp-block-gallery.alignfull .blocks-gallery-image figcaption,
.wp-block-gallery.alignfull .blocks-gallery-item figcaption {
  padding-top: calc(0.5 * var(--space-unit));
  padding-top: var(--space-xs);
  padding-bottom: calc(0.5 * var(--space-unit));
  padding-bottom: var(--space-xs);
  padding-left: calc(0.75 * var(--space-unit));
  padding-left: var(--space-sm);
  padding-right: calc(0.75 * var(--space-unit));
  padding-right: var(--space-sm); }

.wp-block-text-columns,
.wp-block-columns {
  justify-content: space-between; }
  .wp-block-text-columns .wp-block-column,
  .wp-block-columns .wp-block-column {
    flex: 0 1 auto; }
  .wp-block-text-columns.has-2-columns .wp-block-column,
  .wp-block-columns.has-2-columns .wp-block-column {
    width: calc( 50% - ( 25px * .5 )); }
  .wp-block-text-columns.has-3-columns .wp-block-column,
  .wp-block-columns.has-3-columns .wp-block-column {
    width: calc( 33% - ( 25px * .33 )); }
  .wp-block-text-columns.has-4-columns .wp-block-column,
  .wp-block-columns.has-4-columns .wp-block-column {
    width: calc( 25% - ( 25px * .25 ));
    font-size: calc(1em / var(--font-size-ratio));
    font-size: var(--font-size-sm); }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-text-columns,
    .wp-block-columns {
      margin-right: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-2);
      max-width: calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-8); } }

ul.wp-block-categories li,
ul.wp-block-archives li,
ul.wp-block-latest-posts li {
  font-size: calc(1em * var(--font-size-ratio));
  font-size: var(--font-size-md); }
  ul.wp-block-categories li:before,
  ul.wp-block-archives li:before,
  ul.wp-block-latest-posts li:before {
    font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio)));
    font-size: var(--font-size-xxs);
    line-height: 2.4em; }

ul.wp-block-categories li li,
ul.wp-block-archives li li,
ul.wp-block-latest-posts li li {
  font-size: 1em; }

ul.wp-block-categories.is-grid,
ul.wp-block-archives.is-grid,
ul.wp-block-latest-posts.is-grid {
  justify-content: space-between; }
  ul.wp-block-categories.is-grid li,
  ul.wp-block-archives.is-grid li,
  ul.wp-block-latest-posts.is-grid li {
    margin-right: 0;
    margin-bottom: calc(0.75 * var(--space-unit));
    margin-bottom: var(--space-sm); }

@media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
  ul.wp-block-categories.columns-2 li,
  ul.wp-block-archives.columns-2 li,
  ul.wp-block-latest-posts.columns-2 li {
    width: calc( 50% - (  * .5)); } }

.wp-block-table {
  overflow-x: auto; }
  .wp-block-table td,
  .wp-block-table th {
    padding: .5em; }
  .wp-block-table tr:nth-child(even) {
    background-color: var(--color-shade-gray-1); }
  .wp-block-table thead tr:nth-child(odd) {
    background-color: var(--color-primary-bg); }

.wp-block-table table,
table.wp-block-table {
  border-collapse: collapse;
  max-width: calc( 100% - ( calc(0.75 * var(--space-unit)) * 2 )); }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-table table,
    table.wp-block-table {
      max-width: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-7); } }

.wp-block-embed > *,
.wp-block-embed > .jetpack-video-wrapper > * {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; }

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  padding-top: calc(0.75 * var(--space-unit));
  padding-top: var(--space-sm);
  padding-bottom: calc(0.75 * var(--space-unit));
  padding-bottom: var(--space-sm);
  padding-left: 0;
  padding-right: 0;
  margin-top: calc(2 * var(--space-unit));
  margin-top: var(--space-lg);
  margin-bottom: calc(2 * var(--space-unit));
  margin-bottom: var(--space-lg);
  margin-left: calc(0.75 * var(--space-unit));
  margin-left: var(--space-sm);
  margin-right: calc(0.75 * var(--space-unit));
  margin-right: var(--space-sm);
  border-top: 1px solid green;
  border-top-color: var(--color-primary-base);
  border-top-color: var(--color-border-primary); }
  .wp-block-quote p,
  .wp-block-quote.is-large p,
  .wp-block-quote.is-style-large p {
    padding-top: calc(0.5 * var(--space-unit));
    padding-top: var(--space-xs);
    padding-bottom: calc(0.5 * var(--space-unit));
    padding-bottom: var(--space-xs);
    padding-left: calc(0.75 * var(--space-unit));
    padding-left: var(--space-sm);
    padding-right: calc(0.75 * var(--space-unit));
    padding-right: var(--space-sm);
    font-size: calc(1em * var(--font-size-ratio) * var(--font-size-ratio));
    font-size: var(--font-size-lg);
    font-style: normal; }
  .wp-block-quote.is-large p,
  .wp-block-quote.is-style-large p,
  .wp-block-quote.is-large.is-large p,
  .wp-block-quote.is-large.is-style-large p,
  .wp-block-quote.is-style-large.is-large p,
  .wp-block-quote.is-style-large.is-style-large p {
    font-size: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
    font-size: var(--font-size-xl);
    line-height: 1.2;
    line-height: var(--font-leading-heading); }
  .wp-block-quote cite,
  .wp-block-quote.is-large cite,
  .wp-block-quote.is-style-large cite {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: var(--font-family-heading);
    font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
    font-size: var(--font-size-xs);
    color: var(--color-shade-gray-6);
    color: var(--color-words-subtle);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: calc(0.75 * var(--space-unit));
    padding-left: var(--space-sm);
    padding-right: calc(0.75 * var(--space-unit));
    padding-right: var(--space-sm);
    font-style: normal;
    font-weight: 500; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-quote,
    .wp-block-quote.is-large,
    .wp-block-quote.is-style-large {
      max-width: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-7);
      margin-right: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-3);
      margin-left: auto; } }

.wp-block-pullquote {
  margin-top: calc(2 * var(--space-unit));
  margin-top: var(--space-lg);
  margin-bottom: calc(2 * var(--space-unit));
  margin-bottom: var(--space-lg);
  text-align: inherit;
  padding: 0; }
  .wp-block-pullquote > p {
    font-size: calc(1em * var(--font-size-ratio) * var(--font-size-ratio));
    font-size: var(--font-size-lg);
    font-style: normal; }
  .wp-block-pullquote.is-large p,
  .wp-block-pullquote.is-style-large p {
    font-size: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
    font-size: var(--font-size-xl);
    line-height: 1.2;
    line-height: var(--font-leading-heading); }
  .wp-block-pullquote blockquote,
  .wp-block-pullquote > p,
  .wp-block-pullquote > cite {
    padding-left: calc(0.75 * var(--space-unit));
    padding-left: var(--space-sm);
    padding-right: calc(0.75 * var(--space-unit));
    padding-right: var(--space-sm); }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-pullquote.alignwide blockquote,
    .wp-block-pullquote.alignwide > p,
    .wp-block-pullquote.alignwide > cite, .wp-block-pullquote.alignfull blockquote,
    .wp-block-pullquote.alignfull > p,
    .wp-block-pullquote.alignfull > cite {
      padding-left: 25px;
      padding-left: var(--space-gutter);
      padding-right: 25px;
      padding-right: var(--space-gutter); } }
  .wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
    margin-top: 0;
    margin-bottom: calc(0.75 * var(--space-unit));
    margin-bottom: var(--space-sm); }
    .wp-block-pullquote.alignleft blockquote, .wp-block-pullquote.alignright blockquote {
      margin-top: 0;
      margin-bottom: 0; }
      .wp-block-pullquote.alignleft blockquote p, .wp-block-pullquote.alignright blockquote p {
        font-size: calc(1em * var(--font-size-ratio));
        font-size: var(--font-size-md);
        padding-top: 0; }
  .wp-block-pullquote > p:first-child {
    margin-top: 0; }

.wp-block-separator {
  margin-top: calc(1.25 * var(--space-unit));
  margin-top: var(--space-md);
  margin-bottom: calc(1.25 * var(--space-unit));
  margin-bottom: var(--space-md);
  padding: 0; }
  .wp-block-separator.is-style-dots {
    background-color: var(--color-white); }
    .wp-block-separator.is-style-dots:before {
      content: "\00b7 \00b7 \00b7 \00b7 \00b7";
      color: var(--color-words-shade-gray-4);
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      font-family: var(--font-family-body);
      font-size: calc(1em * var(--font-size-ratio) * var(--font-size-ratio));
      font-size: var(--font-size-lg);
      letter-spacing: 1em;
      padding-left: 1em; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-separator.is-style-dots {
      max-width: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-6); } }

/*--------------------------------------------------------------
// !Block Color Palette Colors
--------------------------------------------------------------*/
.has-strong-blue-color {
  color: #0073aa; }

.has-strong-blue-background-color {
  background-color: #0073aa; }

.has-lighter-blue-color {
  color: #229fd8; }

.has-lighter-blue-background-color {
  background-color: #229fd8; }

.has-very-light-gray-color {
  color: #eee; }

.has-very-light-gray-background-color {
  background-color: #eee; }

.has-very-dark-gray-color {
  color: #444; }

.has-very-dark-gray-background-color {
  background-color: #444; }
