/** === Blocks === */
/*
 * CSS4 Variables with Fallbacks Using Sass
 * src: https://codepen.io/jakealbaugh/post/css4-variables-with-fallbacks-using-sass
 */
/*
body {
  @include globalvar(font-size, base);
  @include globalvar(font-family, body);
  @include globalvar(line-height, body);
  @include globalvar(background-color, background);

  // color it red if no CSS4 variables
  color: red;
  // override "show standard" with "null" which means no CSS4 support will still be red
  // if we didn't do this, it would create the fallback.
  @include globalvar(color, text, null);
}

h1, h2, h3, h4 {
  @include globalvar(line-height, heading);
  @include globalvar(font-family, heading);
}

h1 { @include globalvar(font-size, h1); }
h2 { @include globalvar(font-size, h2); }
h3 { @include globalvar(font-size, h3); }
h4 { @include globalvar(font-size, h4); }
*/
:root {
  --space-unit: 1.5rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-base: var(--space-sm);
  --space-column: 80px;
  --space-gutter: 25px;
  --space-column-count: 12;
  --space-column-1: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-2: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-3: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-4: calc( 4 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-5: calc( 5 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-6: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-7: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-8: calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-9: calc( 9 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-10: calc( 10 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-11: calc( 11 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-12: calc( 12 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column: 80px;
  --grid-gutter: 25px;
  --grid-column-count: 12;
  --grid-column-1: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-2: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-3: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-4: calc( 4 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-5: calc( 5 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-6: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-7: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-8: calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-9: calc( 9 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-10: calc( 10 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-11: calc( 11 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-12: calc( 12 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --font-family-body: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  --font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-code: Menlo, monaco, Consolas, Lucida Console, monospace;
  --font-size-base: 18px;
  --font-size-ratio: 1.2;
  --font-size-xxs: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio)));
  --font-size-xs: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
  --font-size-sm: calc(1em / var(--font-size-ratio));
  --font-size-md: calc(1em * var(--font-size-ratio));
  --font-size-lg: calc(1em * var(--font-size-ratio) * var(--font-size-ratio));
  --font-size-xl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
  --font-size-xxl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
  --font-size-xxxl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
  --font-leading-body: 1.4;
  --font-leading-heading: 1.2;
  --color-primary-base: teal;
  --color-primary-light: #339999;
  --color-primary-dark: #006666;
  --color-primary-bg: #cce6e6;
  --color-secondary-base: #f5414f;
  --color-secondary-light: #f76772;
  --color-secondary-dark: #c4343f;
  --color-secondary-bg: #fdd9dc;
  --color-shade-black: #1d1d21;
  --color-shade-gray-10: #2e2e31;
  --color-shade-gray-6: #7b7a7d;
  --color-shade-gray-4: #a5a5a6;
  --color-shade-gray-3: #bbbbbc;
  --color-shade-gray-2: #d1d0d2;
  --color-shade-gray-1: #e8e7e8;
  --color-shade-white: #ffffff;
  --color-feedback-success: #88c459;
  --color-feedback-error: #f5414f;
  --color-feedback-warning: #ffd137;
  --color-words-base: var(--color-shade-gray-10);
  --color-words-heading: var(--color-shade-black);
  --color-words-subtle: var(--color-shade-gray-6);
  --color-link-base: var(--color-primary);
  --color-link-hover: var(--color-primary-dark);
  --color-border-base: var(--color-shade-gray-2);
  --color-border-form: var(--color-border-base);
  --color-border-form-focus: var(--color-primary);
  --color-border-form-error: var(--color-error);
  --color-border-form-bg: var(--color-white);
  --color-border-form-placeholder: var(--color-shade-gray-4);
  --color-body-background: var(--color-shade-white);
  --color-button-primary-bg: var(--color-primary-bg);
  --color-button-primary-hover: var(--color-primary-light);
  --color-button-primary-active: var(--color-primary-dark);
  --color-button-primary-label: var(--color-white);
  --color-button-secondary-bg: var(--color-secondary-bg);
  --color-button-secondary-hover: var(--color-secondary-light);
  --color-button-secondary-active: var(--color-secondary-dark);
  --color-button-secondary-label: var(--color-white); }

.entry-content > * {
  margin-top: calc(0.75 * var(--space-unit));
  margin-top: var(--space-sm);
  margin-bottom: calc(0.75 * var(--space-unit));
  margin-bottom: var(--space-sm);
  margin-left: calc(0.75 * var(--space-unit));
  margin-left: var(--space-sm);
  margin-right: calc(0.75 * var(--space-unit));
  margin-right: var(--space-sm);
  max-width: calc( 100% - ( calc(0.75 * var(--space-unit)) * 2 )); }
  .entry-content > *:first-child {
    margin-top: 0; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .entry-content > * {
      max-width: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-6);
      margin-right: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-2);
      margin-left: auto; } }

.entry-content > .alignwide {
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .entry-content > .alignwide {
      max-width: calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-8);
      margin-right: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-1); } }
  @media only screen and (min-width: calc( 12 * ( 80px + 25px ) - 25px)) {
    .entry-content > .alignwide {
      margin-right: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-2); } }

.entry-content > .alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%; }

.entry-content > .alignleft {
  float: left;
  max-width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .entry-content > .alignleft {
      margin-left: calc( 4 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-left: var(--space-column-4);
      margin-right: calc(0.75 * var(--space-unit));
      margin-right: var(--space-sm);
      margin-left: calc( 100vw - ( calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)) - 25px ));
      max-width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }
  @media only screen and (min-width: calc( 12 * ( 80px + 25px ) - 25px)) {
    .entry-content > .alignleft {
      margin-left: calc( calc( 12 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)) - ( calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)) - 25px )); } }

.entry-content > .alignright {
  float: right;
  max-width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .entry-content > .alignright {
      margin-left: calc(0.75 * var(--space-unit));
      margin-left: var(--space-sm);
      max-width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }

.wp-block-button .wp-block-button__link {
  background-color: var(--color-primary-base);
  color: var(--color-shade-white);
  padding: calc(0.5 * var(--space-unit));
  padding: var(--space-xs);
  padding-left: calc(0.75 * var(--space-unit));
  padding-left: var(--space-sm);
  padding-right: calc(0.75 * var(--space-unit));
  padding-right: var(--space-sm);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  font-size: calc(1em / var(--font-size-ratio));
  font-size: var(--font-size-sm);
  line-height: 1.4;
  line-height: var(--font-leading-body);
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid green;
  border-color: var(--color-primary-base);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.33);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase; }

.wp-block-button .wp-block-button__link:hover {
  border-color: var(--color-primary-base);
  background-color: var(--color-shade-white);
  color: var(--color-primary-base); }

.wp-block-button .wp-block-button__link:active,
.wp-block-button .wp-block-button__link:focus {
  border-color: var(--color-words-subtle);
  background-color: var(--color-shade-white);
  color: var(--color-words-subtle); }

.wp-block-audio audio {
  width: 100%; }

.wp-block-audio.alignleft audio,
.wp-block-audio.alignright audio {
  width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-audio.alignleft audio,
    .wp-block-audio.alignright audio {
      width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }

.wp-block-image img {
  display: block; }

.wp-block-image.alignleft,
.wp-block-image.alignright {
  max-width: 100%; }

.wp-block-image.alignfull img {
  width: 100vw;
  margin-left: auto;
  margin-right: auto; }

.wp-block-cover-image {
  width: inherit; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-cover-image {
      width: 100%; } }
  .wp-block-cover-image.alignleft {
    margin-top: var(--space-0);
    margin-right: calc(0.75 * var(--space-unit));
    margin-right: var(--space-sm); }
  .wp-block-cover-image.alignright {
    margin-top: var(--space-0);
    margin-left: calc(0.75 * var(--space-unit));
    margin-left: var(--space-sm); }

[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover-image {
  max-width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    [data-align=left] .wp-block-cover-image,
    [data-align=right] .wp-block-cover-image {
      max-width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
  font-weight: 400;
  padding: calc(0.5 * var(--space-unit));
  padding: var(--space-xs);
  font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  font-family: var(--font-family-body);
  line-height: 1.2;
  line-height: var(--font-leading-heading);
  letter-spacing: normal;
  text-transform: none;
  margin: 0; }

.wp-block-gallery {
  list-style: none; }
  .wp-block-gallery .blocks-gallery-item,
  .wp-block-gallery .blocks-gallery-image {
    margin: 0;
    padding-left: 0; }
    .wp-block-gallery .blocks-gallery-item:before,
    .wp-block-gallery .blocks-gallery-image:before {
      content: "";
      display: none; }
    .wp-block-gallery .blocks-gallery-item figure,
    .wp-block-gallery .blocks-gallery-image figure {
      display: flex;
      flex-direction: column; }
    .wp-block-gallery .blocks-gallery-item figcaption,
    .wp-block-gallery .blocks-gallery-image figcaption {
      position: relative;
      padding: 0;
      max-height: inherit;
      background: transparent; }

[data-align=left] .wp-block-gallery,
[data-align=right] .wp-block-gallery {
  max-width: 285px; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    [data-align=left] .wp-block-gallery,
    [data-align=right] .wp-block-gallery {
      max-width: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter)); } }

.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  color: var(--color-words-subtle);
  padding-top: calc(0.25 * var(--space-unit));
  padding-top: var(--space-xxs);
  padding-bottom: calc(0.25 * var(--space-unit));
  padding-bottom: var(--space-xxs);
  padding-left: var(--space-0);
  padding-right: var(--space-0);
  font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
  font-size: var(--font-size-xs);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  text-align: left;
  margin: 0; }

.wp-block-audio.alignfull figcaption,
.wp-block-video.alignfull figcaption,
.wp-block-image.alignfull figcaption,
.wp-block-gallery.alignfull .blocks-gallery-image figcaption,
.wp-block-gallery.alignfull .blocks-gallery-item figcaption {
  padding-top: calc(0.5 * var(--space-unit));
  padding-top: var(--space-xs);
  padding-bottom: calc(0.5 * var(--space-unit));
  padding-bottom: var(--space-xs);
  padding-left: calc(0.75 * var(--space-unit));
  padding-left: var(--space-sm);
  padding-right: calc(0.75 * var(--space-unit));
  padding-right: var(--space-sm); }

.wp-block-text-columns,
.wp-block-columns {
  justify-content: space-between; }
  .wp-block-text-columns .wp-block-column,
  .wp-block-columns .wp-block-column {
    flex: 0 1 auto; }
  .wp-block-text-columns.has-2-columns .wp-block-column,
  .wp-block-columns.has-2-columns .wp-block-column {
    width: calc( 50% - ( 25px * .5 )); }
  .wp-block-text-columns.has-3-columns .wp-block-column,
  .wp-block-columns.has-3-columns .wp-block-column {
    width: calc( 33% - ( 25px * .33 )); }
  .wp-block-text-columns.has-4-columns .wp-block-column,
  .wp-block-columns.has-4-columns .wp-block-column {
    width: calc( 25% - ( 25px * .25 )); }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-text-columns,
    .wp-block-columns {
      margin-right: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-1);
      max-width: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-7); } }

ul.wp-block-categories li,
ul.wp-block-archives li,
ul.wp-block-latest-posts li {
  font-size: calc(1em * var(--font-size-ratio));
  font-size: var(--font-size-md); }
  ul.wp-block-categories li:before,
  ul.wp-block-archives li:before,
  ul.wp-block-latest-posts li:before {
    font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio)));
    font-size: var(--font-size-xxs);
    line-height: 2.4em; }

ul.wp-block-categories li li,
ul.wp-block-archives li li,
ul.wp-block-latest-posts li li {
  font-size: 1em; }

ul.wp-block-categories.is-grid,
ul.wp-block-archives.is-grid,
ul.wp-block-latest-posts.is-grid {
  justify-content: space-between; }
  ul.wp-block-categories.is-grid li,
  ul.wp-block-archives.is-grid li,
  ul.wp-block-latest-posts.is-grid li {
    margin-right: var(--space-0);
    margin-bottom: calc(0.75 * var(--space-unit));
    margin-bottom: var(--space-sm); }

@media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
  ul.wp-block-categories.columns-2 li,
  ul.wp-block-archives.columns-2 li,
  ul.wp-block-latest-posts.columns-2 li {
    width: calc( 50% - (  * .5)); } }

.wp-block-table {
  overflow-x: auto; }
  .wp-block-table tr:nth-child(even) {
    background-color: var(--color-shade-gray-1); }
  .wp-block-table thead tr:nth-child(odd) {
    background-color: var(--color-primary-bg); }

.wp-block-table table,
table.wp-block-table {
  border-collapse: collapse;
  max-width: calc( 100% - ( calc(0.75 * var(--space-unit)) * 2 )); }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-table table,
    table.wp-block-table {
      max-width: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-6); } }

.wp-block-table td, .wp-block-table th {
  padding: .5em; }

.wp-block-embed > *,
.wp-block-embed > .jetpack-video-wrapper > * {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; }

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  padding-top: calc(0.75 * var(--space-unit));
  padding-top: var(--space-sm);
  padding-bottom: calc(0.75 * var(--space-unit));
  padding-bottom: var(--space-sm);
  padding-left: var(--space-0);
  padding-right: var(--space-0);
  margin-top: calc(2 * var(--space-unit));
  margin-top: var(--space-lg);
  margin-bottom: calc(2 * var(--space-unit));
  margin-bottom: var(--space-lg);
  margin-left: calc(0.75 * var(--space-unit));
  margin-left: var(--space-sm);
  margin-right: calc(0.75 * var(--space-unit));
  margin-right: var(--space-sm);
  border-top: 1px solid green; }
  .wp-block-quote p,
  .wp-block-quote.is-large p,
  .wp-block-quote.is-style-large p {
    padding-top: calc(0.5 * var(--space-unit));
    padding-top: var(--space-xs);
    padding-bottom: calc(0.5 * var(--space-unit));
    padding-bottom: var(--space-xs);
    padding-left: var(--space-0);
    padding-right: var(--space-0);
    font-size: calc(1em * var(--font-size-ratio) * var(--font-size-ratio));
    font-size: var(--font-size-lg);
    font-style: normal; }
  .wp-block-quote cite,
  .wp-block-quote.is-large cite,
  .wp-block-quote.is-style-large cite {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: var(--font-family-heading);
    font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
    font-size: var(--font-size-xs);
    color: var(--color-words-subtle);
    font-style: normal;
    font-weight: 500; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-quote,
    .wp-block-quote.is-large,
    .wp-block-quote.is-style-large {
      max-width: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-6);
      margin-right: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      margin-right: var(--space-column-2);
      margin-left: auto; } }

.wp-block-pullquote {
  margin-top: calc(2 * var(--space-unit));
  margin-top: var(--space-lg);
  margin-bottom: calc(2 * var(--space-unit));
  margin-bottom: var(--space-lg);
  text-align: inherit;
  padding: 0; }
  .wp-block-pullquote > p {
    font-size: calc(1em * var(--font-size-ratio) * var(--font-size-ratio));
    font-size: var(--font-size-lg);
    font-style: normal; }
  .wp-block-pullquote blockquote,
  .wp-block-pullquote > p,
  .wp-block-pullquote > cite {
    padding-left: calc(0.75 * var(--space-unit));
    padding-left: var(--space-sm);
    padding-right: calc(0.75 * var(--space-unit));
    padding-right: var(--space-sm); }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-pullquote.alignwide blockquote,
    .wp-block-pullquote.alignwide > p,
    .wp-block-pullquote.alignwide > cite, .wp-block-pullquote.alignfull blockquote,
    .wp-block-pullquote.alignfull > p,
    .wp-block-pullquote.alignfull > cite {
      padding-left: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      padding-left: var(--space-column-1);
      padding-right: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      padding-right: var(--space-column-1); } }
  .wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
    margin-top: 0;
    margin-bottom: calc(0.75 * var(--space-unit));
    margin-bottom: var(--space-sm); }
    .wp-block-pullquote.alignleft blockquote, .wp-block-pullquote.alignright blockquote {
      margin-top: 0;
      margin-bottom: 0; }
      .wp-block-pullquote.alignleft blockquote p, .wp-block-pullquote.alignright blockquote p {
        font-size: calc(1em * var(--font-size-ratio));
        font-size: var(--font-size-md);
        padding-top: 0; }
  .wp-block-pullquote > p:first-child {
    margin-top: 0; }

.wp-block-separator {
  margin-top: calc(1.25 * var(--space-unit));
  margin-top: var(--space-md);
  margin-bottom: calc(1.25 * var(--space-unit));
  margin-bottom: var(--space-md);
  padding: 0; }
  .wp-block-separator.is-style-dots {
    background-color: var(--color-white); }
    .wp-block-separator.is-style-dots:before {
      content: "\00b7 \00b7 \00b7 \00b7 \00b7";
      color: var(--color-shade-gray-4);
      font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
      font-family: var(--font-family-body);
      font-size: calc(1em * var(--font-size-ratio) * var(--font-size-ratio));
      font-size: var(--font-size-lg);
      letter-spacing: 1em;
      padding-left: 1em; }
  @media only screen and (min-width: calc( 8 * ( 80px + 25px ) - 25px)) {
    .wp-block-separator.is-style-dots {
      max-width: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
      max-width: var(--grid-column-6); } }

/*--------------------------------------------------------------
// !Block Color Palette Colors
--------------------------------------------------------------*/
.has-strong-blue-color {
  color: #0073aa; }

.has-strong-blue-background-color {
  background-color: #0073aa; }

.has-lighter-blue-color {
  color: #229fd8; }

.has-lighter-blue-background-color {
  background-color: #229fd8; }

.has-very-light-gray-color {
  color: #eee; }

.has-very-light-gray-background-color {
  background-color: #eee; }

.has-very-dark-gray-color {
  color: #444; }

.has-very-dark-gray-background-color {
  background-color: #444; }
