/** === Blocks === */
:root {
  --text_base_size: 18px;
  --text_scale_ratio: 1.2;
  --text_font: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  --title_font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --monospace_font: Menlo, monaco, Consolas, Lucida Console, monospace;
  --text_xs: calc(1em / (var(--text_scale_ratio) * var(--text_scale_ratio)));
  --text_sm: calc(1em / var(--text_scale_ratio));
  --text_md: calc(1em * var(--text_scale_ratio));
  --text_lg: calc(1em * var(--text_scale_ratio) * var(--text_scale_ratio));
  --text_xl: calc(1em * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio));
  --text_xxl: calc(1em * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio));
  --text_xxxl: calc(1em * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio));
  --heading_line_height: 1.2;
  --body_line_height: 1.4;
  /*
	--mobile_width: ;
	--tablet_width: ;
	--desktop_width: ;

	--wide_width: ;
	--side_padding: ;

	--logo_wrapper_width_tablet: ;
	--logo_wrapper_width_desktop: ;
	--link_transition: ;
	--icon_transition: ;
*/ }
  @media only screen and (min-width: 810px) {
    :root {
      --text_base_size: 21px; } }

:root {
  --width-column: 80px;
  --width-gutter: 25;
  --width-column-count: 12;
  --width-column-1: calc( 1 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-2: calc( 2 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-3: calc( 3 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-4: calc( 4 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-5: calc( 5 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-6: calc( 6 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-7: calc( 7 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-8: calc( 8 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-9: calc( 9 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-10: calc( 10 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-11: calc( 11 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter));
  --width-column-12: calc( 12 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter)); }

/*
// Here's where we use the grid mixins

.container {

	@include grid;
	grid-auto-rows: 120px;

	@media only screen and (min-width: 600px) {
		@include gridLayout(
			(7, 2),
			(5, 1),
			(5, 1),
			(12, 1)
		);
	}
}
*/
:root {
  --space-unit: 1.5rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --component-padding: var(--space-sm); }

/*
@include media( tablet ) {
	:root {
		--space-unit: 1.25em;
		--component-padding: var(--space-md);
	}
}
*/
/*
$text_color: #111;
$light_text: lighten( #929292, 1% );
$blue: #0999d4;
$darker_blue: mix( $text_color, $blue, 30% );
$text_color_link_hover: lighten($text_color, 22.5%);
*/
:root {
  --color-primary: #008000;
  --color-primary-light: color-mod(var(--color-primary) tint(15%));
  --color-primary-dark: color-mod(var(--color-primary) shade(15%));
  --color-primary-bg: color-mod(var(--color-primary) alpha(20%));
  --color-secondary: #f5414f;
  --color-secondary-light: color-mod(var(--color-secondary) shade(10%));
  --color-secondary-dark: color-mod(var(--color-secondary) tint(15%));
  --color-secondary-bg: color-mod(var(--color-secondary) alpha(20%));
  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: #ffffff;
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;
  --color-text: var(--gray-10);
  --color-text-heading: var(--black);
  --color-text-subtle: var(--gray-6);
  --color-link: var(--color-primary);
  --color-link-visited: color-mod(var(--color-primary) shade(15%));
  --color-mark: var(--color-secondary-bg);
  --color-blockquote-border: var(--gray-2);
  --color-border: var(--gray-2);
  --color-body: var(--white);
  --form-element-border: var(--color-border);
  --form-element-border-focus: var(--color-primary);
  --form-element-border-error: var(--color-error);
  --form-element-bg: var(--white);
  --form-text-placeholder: var(--gray-4);
  --btn-primary-bg: color-mod(var(--color-primary) alpha(20%));
  --btn-primary-hover: color-mod(var(--color-primary) tint(15%));
  --btn-primary-active: color-mod(var(--color-primary) shade(15%));
  --btn-primary-label: #ffffff;
  --color-icon-primary: var(--gray-4);
  --color-icon-secondary: inherit; }

.entry-content > * {
  margin-top: var(--space-sm, calc(0.75 * var(--space-unit)));
  margin-bottom: var(--space-sm, calc(0.75 * var(--space-unit)));
  margin-left: var(--space-sm, calc(0.75 * var(--space-unit)));
  margin-right: var(--space-sm, calc(0.75 * var(--space-unit))); }
  .entry-content > *:first-child {
    margin-top: 0; }
  @media only screen and (min-width: 810px) {
    .entry-content > * {
      max-width: var(--width-column-6, calc( 6 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter)));
      margin-right: var(--width-column-2, calc( 2 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter)));
      margin-left: auto; } }

@media only screen and (min-width: 810px) {
  .entry-content > .alignwide {
    max-width: var(--width-column-10, calc( 10 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter)));
    margin-left: auto;
    margin-right: auto; } }

.entry-content > .alignfull {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%; }

.entry-content ul,
.entry-content ol {
  list-style-position: outside; }

.wp-block-audio audio {
  max-width: 100%; }

.wp-block-image img {
  display: block; }

.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  font-size: var(--text_xs, calc(1em / (var(--text_scale_ratio) * var(--text_scale_ratio))));
  font-family: var(--title_font, '-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif'); }

.wp-block-image.alignleft,
.wp-block-image.alignright {
  max-width: 100%; }

.wp-block-image.alignfull img {
  width: 100vw;
  margin-left: auto;
  margin-right: auto; }

.wp-block-cover-image {
  width: inherit; }
  @media only screen and (min-width: 810px) {
    .wp-block-cover-image {
      width: 100%; } }
  .wp-block-cover-image.alignleft {
    margin-right: auto; }
  .wp-block-cover-image.alignright {
    margin-left: auto; }

.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-embed.alignleft,
.wp-block-embed.alignright,
[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover-image {
  max-width: 285px; }
  @media only screen and (min-width: 810px) {
    .wp-block-cover-image.alignleft,
    .wp-block-cover-image.alignright,
    .wp-block-embed.alignleft,
    .wp-block-embed.alignright,
    [data-align=left] .wp-block-cover-image,
    [data-align=right] .wp-block-cover-image {
      max-width: 100%; } }

.wp-block-cover-image .wp-block-cover-image-text, .wp-block-cover-image h2 {
  font-weight: 400;
  padding: var(--space-xs, calc(0.5 * var(--space-unit)));
  font-family: var(--text_font, "Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif");
  line-height: var(--heading_line_height, 1.2);
  letter-spacing: normal;
  text-transform: none;
  margin: 0; }

.wp-block-gallery.alignleft,
.wp-block-gallery.alignright,
[data-align=left] .wp-block-gallery,
[data-align=right] .wp-block-gallery {
  max-width: 285px; }

@media only screen and (min-width: 810px) {
  .wp-block-text-columns {
    margin-right: var(--width-column-1, calc( 1 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter)));
    max-width: var(--width-column-7, calc( 7 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter))); } }

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 14px; }

.wp-block-table {
  max-width: 285px;
  display: block;
  overflow-x: auto; }
  @media only screen and (min-width: 810px) {
    .wp-block-table {
      max-width: 100%; } }

.wp-block-table table {
  border-collapse: collapse;
  width: 100%; }

.wp-block-table td, .wp-block-table th {
  padding: .5em; }

.entry-content li {
  margin-left: var(--space-sm, calc(0.75 * var(--space-unit))); }

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin: 0 auto; }

.entry-content ul ul li,
.entry-content ol ol li,
.entry-content ul ol li,
.entry-content ol ul li {
  margin-left: 0; }

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; }

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin-top: var(--space-sm, calc(0.75 * var(--space-unit)));
  margin-bottom: var(--space-sm, calc(0.75 * var(--space-unit)));
  margin-left: var(--space-sm, calc(0.75 * var(--space-unit)));
  margin-right: var(--space-sm, calc(0.75 * var(--space-unit)));
  padding: 0; }
  @media only screen and (min-width: 810px) {
    .wp-block-quote.is-large,
    .wp-block-quote.is-style-large {
      max-width: var(--width-column-6, calc( 6 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter)));
      margin-right: var(--width-column-2, calc( 2 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter)));
      margin-left: auto; } }

.wp-block-pullquote > p:first-child {
  margin-top: 0; }

.wp-block-separator {
  margin-top: var(--space-md, calc(1.25 * var(--space-unit)));
  margin-bottom: var(--space-md, calc(1.25 * var(--space-unit)));
  padding: 0; }

/*
@media screen and (min-width: 768px) {
	.wp-block-cover-text p {
		padding: 1.5em 0;
	}
}
*/
/*--------------------------------------------------------------
# Block Color Palette Colors
--------------------------------------------------------------*/
.has-strong-blue-color {
  color: #0073aa; }

.has-strong-blue-background-color {
  background-color: #0073aa; }

.has-lighter-blue-color {
  color: #229fd8; }

.has-lighter-blue-background-color {
  background-color: #229fd8; }

.has-very-light-gray-color {
  color: #eee; }

.has-very-light-gray-background-color {
  background-color: #eee; }

.has-very-dark-gray-color {
  color: #444; }

.has-very-dark-gray-background-color {
  background-color: #444; }
