$vars: (

	// Typography.
	text_base_size: 22px,
	text_scale_ratio: 1.2,
	text_font: 'Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif',
	title_font: '-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif',
	monospace_font: "Menlo, monaco, Consolas, Lucida Console, monospace",

	// Type scales.
	text_xs: calc(1em / (var(--text_scale_ratio) * var(--text_scale_ratio))),
	text_sm: calc(1em / var(--text_scale_ratio)),
	text_md: calc(1em * var(--text_scale_ratio)),
	text_lg: calc(1em * var(--text_scale_ratio) * var(--text_scale_ratio)),
	text_xl: calc(1em * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio)),
	text_xxl: calc(1em * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio)),
	text_xxxl: calc(1em * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio) * var(--text_scale_ratio)),

	// Line-heights.
	heading_line_height: 1.2,
	body_line_height: 1.4,

	// Screen widths.
	mobile_width: 380px,
	tablet_width: 768px,
	desktop_width: 1168px,
	wide_width: 1379px,
	side_padding: 20px,

	// Layout.
	logo_wrapper_width_tablet: 108px,
	logo_wrapper_width_desktop: 172px,

	// Transition timeouts.
	link_transition: 110ms,
	icon_transition: 120ms,

);

:root {
	--text_font: #{map-get($vars, text_font)};
	--title_font: #{map-get($vars, title_font)};
	--monospace_font: #{map-get($vars, monospace_font)};
	--text_base_size: #{map-get($vars, text_base_size)};
	--text_scale_ratio: #{map-get($vars, text_scale_ratio)};

	--text_xs: #{map-get($vars, text_xs)};
	--text_sm: #{map-get($vars, text_sm)};
	--text_md: #{map-get($vars, text_md)};
	--text_lg: #{map-get($vars, text_lg)};
	--text_xl: #{map-get($vars, text_xl)};
	--text_xxl: #{map-get($vars, text_xxl)};
	--text_xxxl: #{map-get($vars, text_xxxl)};

	--heading_line_height: #{map-get($vars, heading_line_height)};
	--body_line_height: #{map-get($vars, body_line_height)};

	--mobile_width: #{map-get($vars, mobile_width)};
	--tablet_width: #{map-get($vars, tablet_width)};
	--desktop_width: #{map-get($vars, desktop_width)};

	--wide_width: #{map-get($vars, wide_width)};
	--side_padding: #{map-get($vars, side_padding)};

	--logo_wrapper_width_tablet: #{map-get($vars, logo_wrapper_width_tablet)};
	--logo_wrapper_width_desktop: #{map-get($vars, logo_wrapper_width_desktop)};
	--link_transition: #{map-get($vars, link_transition)};
	--icon_transition: #{map-get($vars, icon_transition)};
}

@mixin var($property, $varName) {
	#{$property}: map-get($vars, $varName);
	#{$property}: var(--#{$varName}, map-get($vars, $varName));
}

