
// Mixins

$mobile_width: 4 * ( 80px + 25px ) - 25px;
$tablet_width: 8 * ( 80px + 25px ) - 25px;
$desktop_width: 10 * ( 80px + 25px ) - 25px;
$wide_width: 12 * ( 80px + 25px ) - 25px;

@mixin media( $res ) {
	@if mobile == $res {
		@media only screen and (max-width: $tablet_width) {
			@content;
		}
	}
	@if tablet == $res {
		@media only screen and (min-width: $tablet_width) {
			@content;
		}
	}
	@if desktop == $res {
		@media only screen and (min-width: $desktop_width) {
			@content;
		}
	}

	@if wide == $res {
		@media only screen and (min-width: $wide_width) {
			@content;
		}
	}
}

@mixin font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin font-size( $size, $unit: em ) {
	@if ( em == $unit ) {
		font-size: ( $size / $base_size ) * 1em;
	}
	@if ( rem == $unit ) {
		font-size: ( $size / 16px ) * 1rem;
	}
}

@mixin link-transition( $attr: color ) {
	transition: $attr $link_transition ease-in-out;
}

@mixin svg-transition() {
	transition: fill $icon_transition ease-in-out;
}

@mixin remove-child-margins() {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

@mixin block-margin( $v-space: sm, $h-space: sm ) {
	@include globalvar( margin-top, $v-space );
	@include globalvar( margin-bottom, $v-space );
	@include globalvar( margin-left, $h-space );
	@include globalvar( margin-right, $h-space );
}

@mixin block-padding( $v-space: sm, $h-space: sm ) {
	@include globalvar( padding-top, $v-space );
	@include globalvar( padding-bottom, $v-space );
	@include globalvar( padding-left, $h-space );
	@include globalvar( padding-right, $h-space );
}

@mixin grid_column_width( $columns: 6 ) {
	width: $columns * ( #{map-get($grid, column)} + #{map-get($grid, gutter)} ) - #{map-get($grid, gutter)};
}

@mixin grid_column_width_margins( $columns: 6 ) {
	//	width: calc( #{$width-column-2} - #{map-get($space_vars, sm)} - #{map-get($space_vars, sm)} );
	width: calc( var(--grid-column-#{$columns} ) - ( #{map-get($space, sm)} * 2 ) );
}

@mixin rounded($radius: 0.5em) {
	overflow: hidden;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

