
// Mixins

$mobile_width: 4 * ( 80px + 25px ) - 25px;

$tablet_width: 8 * ( 80px + 25px ) - 25px;

$desktop_width: 10 * ( 80px + 25px ) - 25px;

$wide_width: 12 * ( 80px + 25px ) - 25px;

@mixin media( $res ) {
	@if mobile == $res {
		@media only screen and (max-width: $tablet_width) {
			@content;
		}
	}
	@if tablet == $res {
		@media only screen and (min-width: $tablet_width) {
			@content;
		}
	}
	@if desktop == $res {
		@media only screen and (min-width: $desktop_width) {
			@content;
		}
	}
	@if wide == $res {
		@media only screen and (min-width: $wide_width) {
			@content;
		}
	}
}

@mixin font-smoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin font-size( $size, $unit: em ) {
	@if ( em == $unit ) {
		font-size: ( $size / $base_size ) * 1em;
	}
	@if ( rem == $unit ) {
		font-size: ( $size / 16px ) * 1rem;
	}
}

@mixin link-transition( $attr: color ) {
	transition: $attr $link_transition ease-in-out;
}

@mixin svg-transition() {
	transition: fill $icon_transition ease-in-out;
}

@mixin remove-child-margins() {
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

@mixin grid_column_width( $columns: 6 ) {
	width: $columns * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter};
}

@mixin rounded($radius: 0.5em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
	overflow: hidden;
}

@mixin link-underline() {
	background-image: -webkit-linear-gradient(left,currentColor 0%,currentColor 100%);
    background-image: linear-gradient(to right,currentColor 0%,currentColor 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;

    &:hover {
		background-image: none;
	}
}

@mixin typography-base() {
	// font-size base for mobile
	font-size: $x-font-size-base;

	@include media(tablet) {
		// font-size for tablet and up
		font-size: calc( #{$x-font-size-base} * #{$x-font-size-responsive-ratio} ); // 1 1/6
	}
}

@mixin button-style {
	@include rounded( 3px );
	background: $x-color-accent-base;
	color: $x-color-shade-white;
	padding: $x-space-xxs $x-space-xs;
	font-size: $x-font-size-sm;
	line-height: $x-font-leading-body;
	letter-spacing: $x-font-letter-spacing;
	background-image: none;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	
	&:hover, .wp-block-button__link:hover {
		background-color: lighten(  $accent-color, 6% ) ;
	}

	&:active,
	&:focus {
		background-color: $x-color-accent-light;
	}

	@include media( tablet ) {
		padding: $x-space-xs $x-space-sm;
	}
}