
// Spacing
$space_vars: (
	space-unit: 1.5rem,
	space-xxs:  calc(0.25 * var(--space-unit)),
	space-xs:   calc(0.5 * var(--space-unit)),
	space-sm:   calc(0.75 * var(--space-unit)),
	space-md:   calc(1.25 * var(--space-unit)),
	space-lg:   calc(2 * var(--space-unit)),
	space-xl:   calc(3.25 * var(--space-unit)),
	space-xxl:  calc(5.25 * var(--space-unit)),

	// components padding
	component-padding: var(--space-sm),
);

:root {
	--space-unit: #{map-get($space_vars, space-unit)};
	--space-xxs:  #{map-get($space_vars, space-xxs)};
	--space-xs:   #{map-get($space_vars, space-xs)};
	--space-sm:   #{map-get($space_vars, space-sm)};
	--space-md:   #{map-get($space_vars, space-md)};
	--space-lg:   #{map-get($space_vars, space-lg)};
	--space-xl:   #{map-get($space_vars, space-xl)};
	--space-xxl:  #{map-get($space_vars, space-xxl)};

	// components padding
	--component-padding: #{map-get($space_vars, component-padding)};
}

@mixin space_var($property, $varName) {
	@if 0 == $varName or inherit == $varName {
		#{$property}: 0;
	} @else {
	//	#{$property}: map-get($space_vars, $varName);
		#{$property}: var(--#{$varName}, map-get($space_vars, $varName));
	}
}

// optional - edit space unit and padding of all components at a specific breakpoint
/*
@include media( tablet ) {
	:root {
		--space-unit: 1.25em;
		--component-padding: var(--space-md);
	}
}
*/
