
// Widths (grid-based)

$width_vars: (

	width-column: 80px,
	width-gutter: 25,
	width-column-count: 12,

	width-column-1: calc( 1 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-2: calc( 2 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-3: calc( 3 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-4: calc( 4 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-5: calc( 5 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-6: calc( 6 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-7: calc( 7 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-8: calc( 8 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-9: calc( 9 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-10: calc( 10 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-11: calc( 11 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),
	width-column-12: calc( 12 * ( var(--width-column) + var(--width-gutter) ) - var(--width-gutter) ),

);

:root {
	--width-column: #{map-get($width_vars, width-column)};
	--width-gutter: #{map-get($width_vars, width-gutter)};
	--width-column-count: #{map-get($width_vars, width-column-count)};

	--width-column-1: #{map-get($width_vars, width-column-1)};
	--width-column-2: #{map-get($width_vars, width-column-2)};
	--width-column-3: #{map-get($width_vars, width-column-3)};
	--width-column-4: #{map-get($width_vars, width-column-4)};
	--width-column-5: #{map-get($width_vars, width-column-5)};
	--width-column-6: #{map-get($width_vars, width-column-6)};
	--width-column-7: #{map-get($width_vars, width-column-7)};
	--width-column-8: #{map-get($width_vars, width-column-8)};
	--width-column-9: #{map-get($width_vars, width-column-9)};
	--width-column-10: #{map-get($width_vars, width-column-10)};
	--width-column-11: #{map-get($width_vars, width-column-11)};
	--width-column-12: #{map-get($width_vars, width-column-12)};

	@include media(tablet) {
		// you can manage typography editing only these 2 variables
		// --width-column: 21px;
	}
}

@mixin width_var($property, $varName) {
	@if 0 == $varName or inherit == $varName {
		#{$property}: 0;
	} @else {
	//	#{$property}: map-get($width_vars, $varName);
		#{$property}: var(--#{$varName}, map-get($width_vars, $varName));
	}
}

@mixin grid_column_width( $columns: 6 ) {
	width: ( $columns * ( #{map-get($width_vars, width-column)} + #{map-get($width_vars, width-gutter)} ) - #{map-get($width_vars, width-gutter)} );
}

@mixin grid_column_width_margins( $columns: 6 ) {
	//	width: calc( #{$width-column-2} - #{map-get($space_vars, space-sm)} - #{map-get($space_vars, space-sm)} );
	width: calc( var(--width-column-#{$columns} - ( #{map-get($space_vars, space-sm)} * 2 ) );
}
