
// !Includes.
@import "stylesheets/variables/index";
@import "stylesheets/inc/index";

:root {}

@import "stylesheets/typography";
@import "stylesheets/elements";

@import "css/blocks.scss";

// Fix line height in forms
.editor-rich-text__tinymce.mce-content-body {
	line-height: $x-font-leading-body;
}

// Remove left margin of list blocks
.block-library-list .editor-rich-text__tinymce.mce-content-body {
	padding-left: 0;
	margin-left: 0;
}

body, p {
	
	// Override elements.scss block-level background color
	background-color: transparent;

	// Font size base for mobile
	font-size: $x-font-size-base;

	@include media(tablet) {
		// Font size for tablet and up
		/* boom */
		font-size: calc( #{$x-font-size-base} * #{$x-font-size-responsive-ratio} ); // 1 1/6
	}

}

// Blockquote

blockquote {
	
	max-width: 1100px;
	margin: 0 auto;
	border-left-color: $x-color-accent-base !important;

	&.wp-block-quote,
	&.wp-block-quote.is-large,
	&.wp-block-quote.is-style-large {

		@include media(tablet) {
			margin-right: 0;
		}
	}

	&:not(.is-large):not(.is-style-large) {
//		border-left: none;
//		margin-right: 0;
//		padding-left: 0;
	}

	.wp-block-quote__citation {
		padding-left: $x-space-sm;
	}
}

// Pull quote

.wp-block-pullquote {
	border-bottom: none;
	border-top: none;
}

// Columns

.wp-block-text-columns,
.wp-block-columns {

	@include media(tablet) {
		margin-right: 0;
	}
}

// Images

.wp-block-image {
	
	figcaption {
		margin-top: 0.8em;
	}
	
}