@charset "UTF-8";
/*
 * CSS4 Variables with Fallbacks Using Sass
 * src: https://codepen.io/jakealbaugh/post/css4-variables-with-fallbacks-using-sass
 */
/*
body {
  @include globalvar(font-size, base);
  @include globalvar(font-family, body);
  @include globalvar(line-height, body);
  @include globalvar(background-color, background);

  // color it red if no CSS4 variables
  color: red;
  // override "show standard" with "null" which means no CSS4 support will still be red
  // if we didn't do this, it would create the fallback.
  @include globalvar(color, text, null);
}

h1, h2, h3, h4 {
  @include globalvar(line-height, heading);
  @include globalvar(font-family, heading);
}

h1 { @include globalvar(font-size, h1); }
h2 { @include globalvar(font-size, h2); }
h3 { @include globalvar(font-size, h3); }
h4 { @include globalvar(font-size, h4); }
*/
:root {
  --space-unit: 1.5rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-base: var(--space-sm);
  --space-column: 80px;
  --space-gutter: 25px;
  --space-column-count: 12;
  --space-column-1: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-2: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-3: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-4: calc( 4 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-5: calc( 5 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-6: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-7: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-8: calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-9: calc( 9 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-10: calc( 10 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-11: calc( 11 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-12: calc( 12 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column: 80px;
  --grid-gutter: 25px;
  --grid-column-count: 12;
  --grid-column-1: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-2: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-3: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-4: calc( 4 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-5: calc( 5 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-6: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-7: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-8: calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-9: calc( 9 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-10: calc( 10 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-11: calc( 11 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-12: calc( 12 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --font-family-body: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  --font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-code: Menlo, monaco, Consolas, Lucida Console, monospace;
  --font-size-base: 18px;
  --font-size-ratio: 1.2;
  --font-size-xxs: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio)));
  --font-size-xs: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
  --font-size-sm: calc(1em / var(--font-size-ratio));
  --font-size-md: calc(1em * var(--font-size-ratio));
  --font-size-lg: calc(1em * var(--font-size-ratio) * var(--font-size-ratio));
  --font-size-xl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
  --font-size-xxl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
  --font-size-xxxl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio));
  --font-leading-body: 1.4;
  --font-leading-heading: 1.2;
  --color-primary-base: teal;
  --color-primary-light: #339999;
  --color-primary-dark: #006666;
  --color-primary-bg: #cce6e6;
  --color-secondary-base: #f5414f;
  --color-secondary-light: #f76772;
  --color-secondary-dark: #c4343f;
  --color-secondary-bg: #fdd9dc;
  --color-shade-black: #1d1d21;
  --color-shade-gray-10: #2e2e31;
  --color-shade-gray-6: #7b7a7d;
  --color-shade-gray-4: #a5a5a6;
  --color-shade-gray-3: #bbbbbc;
  --color-shade-gray-2: #d1d0d2;
  --color-shade-gray-1: #e8e7e8;
  --color-shade-white: #ffffff;
  --color-feedback-success: #88c459;
  --color-feedback-error: #f5414f;
  --color-feedback-warning: #ffd137;
  --color-words-base: var(--color-shade-gray-10);
  --color-words-heading: var(--color-shade-black);
  --color-words-subtle: var(--color-shade-gray-6);
  --color-link-base: var(--color-primary);
  --color-link-hover: var(--color-primary-dark);
  --color-border-base: var(--color-shade-gray-2);
  --color-border-form: var(--color-border-base);
  --color-border-form-focus: var(--color-primary);
  --color-border-form-error: var(--color-error);
  --color-border-form-bg: var(--color-white);
  --color-border-form-placeholder: var(--color-shade-gray-4);
  --color-body-background: var(--color-shade-white);
  --color-button-primary-bg: var(--color-primary-bg);
  --color-button-primary-hover: var(--color-primary-light);
  --color-button-primary-active: var(--color-primary-dark);
  --color-button-primary-label: var(--color-white);
  --color-button-secondary-bg: var(--color-secondary-bg);
  --color-button-secondary-hover: var(--color-secondary-light);
  --color-button-secondary-active: var(--color-secondary-dark);
  --color-button-secondary-label: var(--color-white); }

/** === Elements === */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: var(--color-shade-white); }

a {
  color: var(--color-primary-base); }

a:hover,
a:active {
  outline: 0; }

p {
  margin: 0; }

hr {
  background-color: var(--color-shade-gray-3);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

abbr,
acronym {
  border-bottom: 1px dotted inherit;
  border-bottom-color: var(--color-border-base);
  cursor: help; }

pre {
  background-color: var(--color-shade-gray-1);
  margin-bottom: calc(0.75 * var(--space-unit));
  margin-bottom: var(--space-sm);
  max-width: 100%;
  overflow: auto;
  padding: calc(0.75 * var(--space-unit));
  padding: var(--space-sm); }

ul,
ol {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(0.5 * var(--space-unit));
  margin-bottom: var(--space-xs);
  margin-left: calc(0.5 * var(--space-unit));
  margin-left: var(--space-xs);
  padding: 0; }

ul {
  list-style: none;
  list-style-position: inside; }

ul > li {
  position: relative;
  padding-left: calc(0.75 * var(--space-unit));
  padding-left: var(--space-sm); }
  ul > li:before {
    content: "\25CF\00a0";
    display: block;
    left: 0;
    position: absolute;
    top: calc(0.25 * var(--space-unit));
    top: var(--space-xxs);
    color: var(--color-primary-base);
    line-height: var(--font-leading-md);
    font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
    font-size: var(--font-size-xs); }
  ul > li li:before {
    content: "\2B58\00a0"; }

ol {
  list-style: none;
  counter-reset: sans-counter; }

ol > li {
  counter-increment: sans-counter;
  position: relative;
  padding-left: calc(1.25 * var(--space-unit));
  padding-left: var(--space-md); }
  ol > li ol li {
    padding-left: calc(1.25 * var(--space-unit));
    padding-left: var(--space-md); }
  ol > li ul li {
    padding-left: calc(0.75 * var(--space-unit));
    padding-left: var(--space-sm); }
  ol > li:before {
    content: counter(sans-counter, decimal-leading-zero) " ";
    left: 0;
    position: absolute;
    top: calc(0.25 * var(--space-unit));
    top: var(--space-xxs);
    color: var(--color-primary-base);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: var(--font-family-heading);
    font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
    font-size: var(--font-size-xs);
    line-height: var(--font-leading-md); }

li > ol,
li > ul {
  margin-left: 0;
  margin-bottom: 0; }

li > ol ol,
li > ul ul,
li > ol ul,
li > ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(0.5 * var(--space-unit));
  margin-bottom: var(--space-xs);
  margin-left: calc(0.5 * var(--space-unit));
  margin-left: var(--space-xs); }

img {
  height: auto;
  max-width: 100%; }

svg {
  fill: currentColor; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

blockquote,
blockquote.is-large {
  padding-top: calc(0.75 * var(--space-unit));
  padding-top: var(--space-sm);
  padding-bottom: calc(0.75 * var(--space-unit));
  padding-bottom: var(--space-sm);
  padding-left: var(--space-0);
  padding-right: var(--space-0);
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid green; }
  blockquote p,
  blockquote.is-large p {
    padding-top: calc(0.5 * var(--space-unit));
    padding-top: var(--space-xs);
    padding-bottom: calc(0.5 * var(--space-unit));
    padding-bottom: var(--space-xs);
    padding-left: var(--space-0);
    padding-right: var(--space-0);
    word-break: break-word; }
  blockquote cite,
  blockquote.is-large cite {
    color: var(--color-words-subtle); }

address {
  margin: 0 0 1.5em; }

mark,
ins {
  background-color: var(--color-feedback-warning); }

.editor-default-block-appender input[type="text"].editor-default-block-appender__content,
.editor-post-title .editor-post-title__input,
.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif;
  font-family: var(--font-family-body); }

.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-size: 18px;
  font-size: var(--font-size-base); }
