@charset "UTF-8";
/*
 * CSS4 Variables with Fallbacks Using Sass
 * src: https://codepen.io/jakealbaugh/post/css4-variables-with-fallbacks-using-sass
 */
@import url(https://fonts.googleapis.com/css?family=Space+Mono);
/*
body {
  @include globalvar(font-size, base);
  @include globalvar(font-family, body);
  @include globalvar(line-height, body);
  @include globalvar(background-color, background);

  // color it red if no CSS4 variables
  color: red;
  // override "show standard" with "null" which means no CSS4 support will still be red
  // if we didn't do this, it would create the fallback.
  @include globalvar(color, text, null);
}

h1, h2, h3, h4 {
  @include globalvar(line-height, heading);
  @include globalvar(font-family, heading);
}

h1 { @include globalvar(font-size, h1); }
h2 { @include globalvar(font-size, h2); }
h3 { @include globalvar(font-size, h3); }
h4 { @include globalvar(font-size, h4); }
*/
/** === Elements === */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: var(--color-shade-white); }

a {
  color: var(--color-primary-base); }

a:hover,
a:active {
  outline: 0; }

p {
  margin: 0; }

hr {
  background-color: var(--color-shade-gray-3);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

abbr,
acronym {
  border-bottom: 1px dotted inherit;
  border-bottom-color: var(--color-border-base);
  cursor: help; }

pre {
  background-color: var(--color-shade-gray-1);
  margin-bottom: calc(0.75 * var(--space-unit));
  margin-bottom: var(--space-sm);
  max-width: 100%;
  overflow: auto;
  padding: calc(0.75 * var(--space-unit));
  padding: var(--space-sm); }

ul,
ol {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(0.5 * var(--space-unit));
  margin-bottom: var(--space-xs);
  margin-left: calc(0.5 * var(--space-unit));
  margin-left: var(--space-xs);
  padding: 0; }

ul {
  list-style: none;
  list-style-position: inside; }

ul > li {
  position: relative;
  padding-left: calc(0.75 * var(--space-unit));
  padding-left: var(--space-sm); }
  ul > li:before {
    content: "\25CF\00a0";
    display: block;
    left: 0;
    position: absolute;
    top: calc(0.25 * var(--space-unit));
    top: var(--space-xxs);
    color: var(--color-primary-base);
    line-height: var(--font-leading-md);
    font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
    font-size: var(--font-size-xs); }
  ul > li li:before {
    content: "\2B58\00a0"; }

ol {
  list-style: none;
  counter-reset: sans-counter; }

ol > li {
  counter-increment: sans-counter;
  position: relative;
  padding-left: calc(1.25 * var(--space-unit));
  padding-left: var(--space-md); }
  ol > li ol li {
    padding-left: calc(1.25 * var(--space-unit));
    padding-left: var(--space-md); }
  ol > li ul li {
    padding-left: calc(0.75 * var(--space-unit));
    padding-left: var(--space-sm); }
  ol > li:before {
    content: counter(sans-counter, decimal-leading-zero) " ";
    left: 0;
    position: absolute;
    top: calc(0.25 * var(--space-unit));
    top: var(--space-xxs);
    color: var(--color-primary-base);
    font-family: Space Mono, sans;
    font-family: var(--font-family-heading);
    font-size: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio)));
    font-size: var(--font-size-xs);
    line-height: var(--font-leading-md); }

li > ol,
li > ul {
  margin-left: 0;
  margin-bottom: 0; }

li > ol ol,
li > ul ul,
li > ol ul,
li > ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(0.5 * var(--space-unit));
  margin-bottom: var(--space-xs);
  margin-left: calc(0.5 * var(--space-unit));
  margin-left: var(--space-xs); }

img {
  height: auto;
  max-width: 100%; }

svg {
  fill: currentColor; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

blockquote,
blockquote.is-large {
  padding-top: calc(0.75 * var(--space-unit));
  padding-top: var(--space-sm);
  padding-bottom: calc(0.75 * var(--space-unit));
  padding-bottom: var(--space-sm);
  padding-left: calc(0.75 * var(--space-unit));
  padding-left: var(--space-sm);
  padding-right: calc(0.75 * var(--space-unit));
  padding-right: var(--space-sm);
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid green;
  border-top-color: var(--color-border-primary); }
  blockquote p,
  blockquote.is-large p {
    padding-top: calc(0.5 * var(--space-unit));
    padding-top: var(--space-xs);
    padding-bottom: calc(0.5 * var(--space-unit));
    padding-bottom: var(--space-xs);
    padding-left: 0;
    padding-right: 0;
    word-break: break-word; }
  blockquote cite,
  blockquote.is-large cite {
    color: var(--color-words-subtle); }

address {
  margin: 0 0 1.5em; }

mark,
ins {
  background-color: var(--color-feedback-warning); }

.editor-default-block-appender input[type="text"].editor-default-block-appender__content,
.editor-post-title .editor-post-title__input,
.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-family: Space Mono, sans;
  font-family: var(--font-family-body); }

.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-size: 18px;
  font-size: var(--font-size-base); }
