
/** === Accessibility === */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	font-weight: 200;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	@include typo_var(font-family, title_font);
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px; // hardcoded
	font-size: 0.875rem;
	font-weight: 600;
	outline: none;
	height: auto;
	line-height: 1.2;
	padding: 15px 23px 14px;
	text-decoration: none;
	left: 10px;
	top: 10px;
	width: auto;
	z-index: 100000;
}

#content[tabindex="-1"]:focus {
	outline: 0;
}