
// Show development colors guides.

$show: 0;
//$show: 1;

@if 1 == $show {

	#page-wrapper {
		border-color: rgba(black, 0.05);
		background: #f1f1f1;
	}

	#content {
		background: rgba( orange, 0.1 );
		
		@include media( tablet ) {
			border-right-color: rgba( red, 0.5);
		}

		@include media( desktop ) {
			border-right-color: rgba( red, 0.5);
		}
	}
	
	.site-logo {
		background: green;
	}

}

//.social-navigation ul li {
//	list-style: none;
//}
//
//.main-navigation ul.main-menu li > ul {
//	display: none;
//}