
/** === Elements === */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	@include color_var(background-color, white);
}

a {
	@include color_var(color, color-primary);
}

a:visited {

}

a:hover, a:focus, a:active {

}

a:focus {

}

a:hover, a:active {
	outline: 0;
}

p {
	margin: 0;
}

hr {
	@include color_var(background-color, gray-3);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

abbr, acronym {
	border-bottom: 1px dotted inherit;
	@include color_var(border-bottom-color, color-border);
	cursor: help;
}

pre {
	@include color_var(background-color, gray-1);
	@include space_var( margin-bottom, space-sm );
	max-width: 100%;
	overflow: auto;
	@include space_var( padding, space-sm );
}

ul,
ol {
	margin-top: 0;
	margin-right: 0;
	@include space_var( margin-bottom, space-xs );
	@include space_var( margin-left, space-xs );
	padding: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
	@include space_var( margin-left, space-sm );
}

ul {
	list-style: none;
	list-style-position: inside;
}

ul li {

	position: relative;
	@include space_var( padding-left, space-sm );

	&:before {
		content: "\25CF\00a0";
		left: 0;
		position: absolute;
		@include color_var(color, color-primary);
		@include space_var( line-height, space-md );
		@include typo_var(font-size, text_xs);
	}

	li:before {
		content: "\2B58\00a0";
	}
}

ol {
	list-style: none;
	counter-reset: sans-counter;
}

ol li {

	counter-increment: sans-counter;
	position: relative;
	@include space_var( padding-left, space-md );

	&:before {
		content: counter(sans-counter, decimal-leading-zero) "\00a0";
		left: 0;
		position: absolute;
		@include color_var(color, color-primary);
		@include typo_var(font-family, title_font);
		@include typo_var(font-size, text_xs);
		@include space_var( line-height, space-md );
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	@include space_var( margin-left, space-md );
}

dt {
	font-weight: bold;
}

dd {
	margin-top: 0;
	margin-right: 0;
	@include space_var( margin-bottom, space-xs );
	@include space_var( margin-left, space-xs );
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

mark, ins {
	@include color_var(background-color, color-warning);
}
