
/** === Elements === */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: $x-color-shade-white;
}

a {}

a:visited {}

a:hover, a:focus, a:active {}

a:focus {}

a:hover,
a:active {
	outline: 0;
}

@import "elements-common";


ol {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: $x-space-xs;
	margin-left: $x-space-xs;
}

ol > li {
	position: relative;
}

li > ol,
li > ul {
	margin-bottom: 0;
}

li > ol {
	margin-left: 0;
}

li > ol ol,
li > ul ul,
li > ol ul,
li > ul ol {
	margin-bottom: 0;
}
