
/** === Entries === */

.hentry {

	margin-top: 3em;

	&:first-of-type {
		margin-top: 0;
	}

	.entry-header {
		@include media( tablet ) {
			display: flex;
			justify-content: flex-end;
			margin-left: auto;
			margin-right: auto;
			max-width: $width-column-12;
		}
	}

	.entry-title {
		@include block-space();
		@include font-smoothing;
		@include color_var(color, color-primary);
		@include typo_var(font-family, title_font);
		@include typo_var(font-size, text_xl);
		font-weight: 200;
		letter-spacing: .25rem;
		text-transform: uppercase;

		a {
			@include color_var(color, color-primary);
			@include link-transition;
			color: inherit;
			&:hover {
				@include color_var(color, color-secondary);
				text-decoration: none;
			}
		}

		@include media( tablet ) {
			@include block-space( space-sm, 0 );
			max-width: calc( #{$width-column-6} );
		}
	}

	.entry-meta {

		@include block-space;
		@include color_var(color, color-text-subtle);
		@include typo_var(font-family, title_font);
		display: flex;

		a {
			@include color_var(color, color-text-heading);
			@include link-transition;

			&:hover {
				text-decoration: none;
				@include color_var(color, color-primary-dark);
			}
		}

		.posted-on {
			@include typo_var(font-size, text_xs);
			@include font-smoothing;
			text-transform: uppercase;
		}

		.byline {
			@include font-smoothing;
			@include typo_var(font-size, text_xs);

			a {
				font-weight: 600;
			}
		}

		@include media( tablet ) {
			flex-direction: column;
			max-width: calc( #{$width-column-2} - #{map-get($space_vars, space-sm)} - #{map-get($space_vars, space-sm)} );
		}
	}

	.entry-footer {
		@include typo_var(font-family, title_font);
		@include typo_var(font-size, text_xs);
		@include font-smoothing;
		font-weight: 500;

		> span {
			$hmargin: 1.35em;
			$vmargin: 0.35em;

			display: inline-block;
			margin: $vmargin $hmargin $vmargin 0;
			&:last-child {
				margin-right: 0;
			}
		}

		a {
			@include link-transition;
			color: inherit;
			&:hover {
				text-decoration: none;
				@include color_var(color, color-primary);
			}
		}

		.svg-icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			@include color_var(fill, color-text-subtle);
			margin-right: 0.3em;
			top: -0.1em;
		}

		.byline {
			.svg-icon {
				transform: scale(1.1);
				top: -0.13em;
			}
		}

		.cat-links {
			.svg-icon {
				transform: scale(0.9);
				top: -0.12em;
			}
		}

		.comments-link {
			white-space: nowrap;
			.svg-icon {
				transform: scale(0.82);
			}
		}

		.edit-link {
			white-space: nowrap;
			.svg-icon {
				transform: scale(0.9);
			}
		}

		@include media( tablet ) {
			display: flex;
			justify-content: flex-end;
			margin-left: auto;
			margin-right: auto;
			max-width: $width-column-12;
		}
	}

	.post-thumbnail {

		&:focus {
			outline: none;
		}

		.post-thumbnail-inner {
			display: block;
			border: solid 10px inherit;
			@include color_var(border-color, color-secondary);
			margin-bottom: 1.5em;

			img {
				position: relative;
				display: block;
			}
		}

	}

	.image-filters-enabled & {

		.post-thumbnail {
			position: relative;
			display: block;

			.post-thumbnail-inner {
				position: relative;

				filter: grayscale(100%);
				z-index: 1;

				&:after {
					display: block;
					width: 100%;
					height: 100%;
					background: green;
					z-index: 10;
				}
			}

			&:before, &:after {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0; left: 0;
				content: "\020";
				display: block;
			}

			&:before {
				@include color_var(background-color, color-primary);
				mix-blend-mode: screen;
				opacity: 0.1;
				z-index: 2;
			}

			&:after {
				@include color_var(background-color, color-primary);
				mix-blend-mode: multiply;
				opacity: 1;
				z-index: 3;
			}

		}

	}

	.entry-header,
	.entry-content,
	.entry-footer {
		@include media( wide ) {

		}
	}

	.entry-content {

		.more-link {
			@include link-transition;
			display: inline;
			color: inherit;

			&:after {
				content: "»";
				margin-left: 0.5em;
			}

			&:hover {
				@include color_var(color, color-primary);
				text-decoration: none;
			}
		}

		@include media( tablet ) {
			margin-left: auto;
			margin-right: auto;
			max-width: $width-column-12;
		}
	}
}
