
/** === Entries === */

// This is outside of the .hentry wrapper so it does’t override selectors in blocks.css
.entry-content,
.entry-summary,
.page-content {

	// Style all elemnts first
	> * {
		margin: $x-space-md;
		max-width: calc( 100% - ( #{$x-space-sm} * 2 ) );

		&:first-child {
			margin-top: 0;
		}

		@include media( tablet ) {
			max-width: $x-grid-column-7;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.has-post-thumbnail.hentry {
	margin-top: 0;
}

.hentry {
	margin: $x-space-lg 0;

	@include media( tablet ) {
		margin: $x-space-xl, $x-space-sm;
	}

	@include media( desktop ) {
		margin: $x-space-xl 0;
	}

	.entry-featured-image {
		background-size: cover;
		background-position: 50% 50%;
		display: block;
		min-height: 270px;
		max-height: 684px;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	.entry-header {

		@include media( tablet ) {
			max-width: $x-grid-column-10;
			align-items: flex-start;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.entry-title {
		margin: $x-space-sm auto;
		font-weight: 800;

		a {
			color: $x-color-primary-base;
			@include link-transition;
			color: inherit;
			
			&:hover {
				color: $x-color-accent-base;
				text-decoration: none;
			}
		}

		@include media( tablet ) {
			margin: $x-space-sm 0;
			max-width: $x-grid-column-7;
			width: 100%;

			// Single Page
			&:first-child:last-child {
				max-width: $x-grid-column-7;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	@at-root .single .entry-title {
		@include media( tablet ) { 
			font-size: $x-font-size-xxxl;
			margin: $x-space-lg auto $x-space-md;
		}
	}

	@at-root body.page .entry-title {
			font-size: $x-font-size-xxxl;
			margin: $x-space-lg auto $x-space-md;		
	}

	.entry-meta {
		
		font-size: $x-font-size-xs;
		margin: $x-space-sm;
		color: $x-color-words-subtle;

		a {
			color: $x-color-words-heading;
			@include link-transition;
			font-weight: 600;

			&:hover {
				text-decoration: none;
				color: $x-color-words-subtle;
			}
		}

		@include media( tablet ) {
			width: $x-grid-column-7;
			margin: $x-space-sm auto;
		}
	}

	.entry-footer {

		.entry-meta {

			line-height: $x-font-leading-double;
			flex-direction: column;
			justify-content: space-between;

			@include media( tablet ) {

				display: flex;
				max-width: $x-grid-column-7;
				margin-right: auto;
				padding-bottom: $x-space-sm;
				line-height: $x-font-leading-body;
				flex-direction: row;
				margin-left: auto;
				width: 100%;

				> span {
					flex: 1 1 20%;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		@include media( tablet ) {
			max-width: $x-grid-column-12;
			display: flex;
			justify-content: flex-end;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.post-thumbnail {

		&:focus {
			outline: none;
		}

		.post-thumbnail-inner {
			display: block;
			border: solid 10px inherit;
			border-color: $x-color-secondary-base;
			margin-bottom: 1.5em;

			img {
				position: relative;
				display: block;
			}
		}

	}

	.image-filters-enabled & {

		.post-thumbnail {
			position: relative;
			display: block;

			.post-thumbnail-inner {
				position: relative;

				filter: grayscale(100%);
				z-index: 1;

				&:after {
					display: block;
					width: 100%;
					height: 100%;
					background: green;
					z-index: 10;
				}
			}

			&:before, &:after {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0; left: 0;
				content: "\020";
				display: block;
			}

			&:before {
				background-color: $x-color-primary-base;
				mix-blend-mode: screen;
				opacity: 0.1;
				z-index: 2;
			}

			&:after {
				background-color: $x-color-primary-base;
				mix-blend-mode: multiply;
				opacity: 1;
				z-index: 3;
			}

		}

	}

	.entry-content,
	.entry-summary {

		span[id^=more] {
			display: block;
		}

		a {
			box-shadow: 0 1px 0 0;

			&:hover {
				box-shadow: none;
			}
		}

		.more-link {
			@include link-transition;
			color: $x-color-secondary-base;
			display: block;
			font-weight: 600;
			margin: $x-space-xs 0;

			&:hover {
				color: $x-color-accent-base;
			}
		}

		@include media( tablet ) {
			max-width: $x-grid-column-12;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.entry-author {
		border-top: 1px solid grey;
		border-color: $x-color-border-base;
		margin: $x-space-md;
		padding-top: $x-space-md;
		max-width: calc( 100% - ( #{$x-space-sm} * 2 ) );

		@include media( tablet ) {
			max-width: $x-grid-column-7;
			margin-right: auto;
			margin-left: auto;
		}

		.author-avatar {

			img {
				border-radius: 50%;
				display: block;
				margin-right: $x-space-xs;
				height: 60px;
				width: 60px;
			}
		}

	.author-heading {
		float: left;
		margin-bottom: $x-space-sm;

		.author-title {
			color: $x-color-words-subtle;
			font-size: $x-font-size-xs;
			font-weight: 400;
			margin-top: 0;
			text-transform: uppercase;
		}

		.author-name {
			clear: both;
			color: $x-color-secondary-base;
			display: block;
			font-size: $x-font-size-xxl;
			font-weight: 900;
			margin: 0 0 $x-space-xs;
			text-transform: none;
		}
	}

	.author-bio {
		clear: both;

		.author-link {
			white-space: nowrap;
			font-weight: 700;

			&:hover {
				color: $x-color-accent-base;
			}
		}
	}

}

	// Archives
	.blog &,
	.archive &,
	.search & {

		.entry-summary p {
			word-break: break-word;
		}

		.entry-meta {
			display: flex;
			justify-content: space-between;

			a {
				color: $x-color-words-heading;
				@include link-transition;
				font-weight: 600;

				&:hover {
					text-decoration: none;
					color: $x-color-words-subtle;
				}
			}

			@include media( tablet ) {
				width: $x-grid-column-7;
				margin: $x-space-sm auto;
				flex-direction: column;
				justify-content: inherit;
			}

			.posted-on {
				text-transform: uppercase;

				a {
					font-weight: normal;
				}
			}

			.byline {
				font-weight: 600; 
			}
		}

		.entry-footer {

			.entry-meta {

				flex-direction: column;

				> span {

					&:last-child {
						padding-bottom: $x-space-sm;
						border-bottom: 1px solid grey;
						border-bottom-color: $x-color-border-base;
					}
				}
			}
		}

		// remove the last bottom border on archives
		&:last-of-type .entry-footer .entry-meta > span:last-child {
			border-bottom: none;
		}

		@include media( tablet ) {

			.entry-footer .entry-meta {

				flex-direction: row;

				border-bottom: 1px solid grey;
				border-bottom-color: $x-color-border-base;

				> span {
					margin-right: $x-space-sm;

					&:last-child {
						padding-bottom: 0;
						border-bottom: none;
						margin-right: 0;
					}
				}
			}

			// remove the last bottom border on archives
			&:last-of-type .entry-footer .entry-meta {
				border-bottom: none;
			}
		}

		@include media( desktop ) {

			max-width: $x-grid-column-10;
			display: flex;
			justify-content: flex-end;
			flex-direction: row;
			flex-wrap: wrap;
			margin-left: auto;
			margin-right: auto;
			width: 100%;

			.entry-header {

				max-width: $x-grid-column-3;
				display: block;
				flex: 1 1 40%;
				margin: 0;
			}

			.entry-title {

				margin: $x-space-sm auto;
				margin-top: 0;
				width: auto;
			}

			.entry-summary {

				flex: 1 1 60%;

				> * {

					margin-left: $x-space-sm;
					margin-right: $x-space-sm;
				}
			}

			.entry-footer {

				margin-left: $x-space-column-3;
				flex: 1 0 60%;

				.entry-meta {

					margin-left: $x-space-sm;
					margin-right: $x-space-sm;

					> span {
						flex: 1 1 20%;
					}
				}
			}
		}
	}
}
