
/** === Forms === */

.button,
button,
#infinite-handle span button,
#infinite-handle span button:focus,
#infinite-handle span button:hover,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $x-color-accent-base;
	border: 2px solid $x-color-accent-base;
	color: $x-color-shade-white;
	padding: $x-space-xxs $x-space-xs;
	font-size: $x-font-size-xs;
	font-weight: 600;
	line-height: $x-font-leading-body;
	letter-spacing: $x-font-letter-spacing;
	@include rounded( 25px );
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;

	@include media( tablet ) {
		padding: $x-space-xs $x-space-sm;
	}
}

.button:hover,
button:hover,
#infinite-handle span button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: transparent;
	color: $x-color-accent-base;
}

.button:active, .button:focus,
button:active, button:focus,
#infinite-handle span button:active,
#infinite-handle span button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	background-color: $x-color-accent-light;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid gray;
	border-color: $x-color-border-base;
	font-size: $x-font-size-base;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border: 1px solid gray;
	border-color: $x-color-border-form-focus;
}

select {

}

textarea {
	font-size: $x-font-size-sm;
	width: 100%;
}

@include media(mobile) {
	.contact-form textarea {
		width: 100% !important;
	}
}