
/** === Site Branding === */

.main-navigation {

	display: none;

	> div > ul {

		@include typo_var(font-family, title_font);
		display: inline;
		margin: 0;
		padding: 0;

		> li {
			display: inline-block;

			> a {
				@include link-transition;
				font-weight: 200;
				letter-spacing: .125em;
				text-transform: uppercase;

				&:hover {
					@include color_var(color, color-primary-dark);
				}
			}

			> a {
				@include color_var(color, color-primary);
				@include typo_var(font-size, text_xs);
				@include space_var(padding, space-xs);
				@include link-transition;
				text-decoration: none;
				font-weight: 400;
			}
		}
	}

	ul.sub-menu {
		display: none;
	}

	@include media( tablet ) {
		@include block-space( space-sm, 0 );
		display: inherit;
	}
}

.menu-toggle {

	@include media( tablet ) {
		display: none;
	}
}

.post-navigation {

	@include block-space( space-lg, 0 );
	border-top: 1px solid green;
	@include color-var( border-top-color, color-primary );
	border-bottom: 1px solid grey;
	@include color-var( border-bottom-color, color-border );

	&:last-child {
		@include space_var(margin-bottom, 0);
		border-bottom: none;
	}

	.nav-links {

		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;

		.post-title {
			@include typo_var( font-size, text_md );
			font-weight: 300;
			margin: 0;
		}

		.post-excerpt {
			@include block-space( space-xs, 0 );
		}

		& > div {
			@include block-space();
		}
	}

	@include media( tablet ) {
		@include block-space( space-sm, 0 );
		display: inherit;
		.nav-links {
			flex-direction: column;
			& > div {
				@include block-space( space-lg, space-sm );
				max-width: calc( #{$width-column-5} );
			}
		}
	}
}