
/** === Site Branding === */

.site-header {

	border-bottom: 1px solid gray;
	border-bottom-color: $x-color-border-base;

	@include media( desktop ) {
		max-width: $x-grid-column-12;
		border-bottom: none;
		display: flex;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.site-identity {

	color: $x-color-words-subtle;
	margin: $x-space-sm;

	& > * {
		margin-bottom: $x-space-sm;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include media( tablet ) {

		max-width: $x-grid-column-5;
		display: flex;
		align-content: stretch;
		align-items: center;
		width: 100%;

		& > * {
			margin-bottom: 0;
			margin-right: $x-space-sm;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.site-title {

		font-family: $x-font-family-body;
		font-size: $x-font-size-lg;
		color: $x-color-words-base;
		margin: 0;

		a {
			@include link-transition;
			display: block;
			text-decoration: none;
			color: $x-color-words-heading;

			&:hover {
				color: $x-color-secondary-base;
			}
		}
	}

	.site-description {
		font-family: $x-font-family-heading;
		font-size: $x-font-size-xs;
		color: $x-color-words-subtle;
		font-weight: normal;
	}

	.custom-logo-link {
		display: block;
		line-height: 0;
	}
}

.site-footer {

	border-top: 1px solid grey;
	border-color: $x-color-border-base;

	@include media( mobile ) {
		padding-bottom: $x-space-xl;
	}
}

.site-info {

	font-size: $x-font-size-sm;
	font-family: $x-font-family-body;
	padding: $x-space-lg;
	padding-left: $x-space-sm;
	padding-right: $x-space-sm;

	a {
		color: inherit;
		&:hover {
			text-decoration: none;
			color: $x-color-primary-base;
		}
	}

	@include media( tablet ) {
		max-width: $x-grid-column-10;
		border-bottom: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}
}