
/** === Site Branding === */

.site-header {

	margin-bottom: 3.5em;

	@include media( tablet ) {
		margin-bottom: 4.8em;
	}

}

.site-branding {
	padding-top: 0.2em;
	letter-spacing: -0.02em;
	color: $light_text;
	line-height: 1.35;

	@include media( tablet ) {
		line-height: 1.2;
	}

	@include media( desktop ) {
		line-height: 1.35;
	}

	.site-title {
		@include var(font-family, title_font);
		@include var(font-size, text_xxl);
		@include font-smoothing;
		display: inline;
		color: $text_color;
		font-weight: 600;

		/* When there is no description set, make sure navigation appears below title. */
		+ .main-navigation {
			display: block;
		}

		a {
			@include link-transition;
			text-decoration: none;
			color: inherit;

			&:hover {
				color: $text_color_link_hover;
			}
		}

		@include media( tablet ) {
			@include font-size( 34px );
			letter-spacing: -0.025em;
			display: block;
			margin: 0.25em 0 0.35em 0;
			font-weight: 700;
		}

		@include media( desktop ) {
			@include font-size( 44px );
			display: inline;
		}

	}

	.site-description {
		@include font-smoothing;
		@include font-size( 25px );
		color: $light_text;
		font-weight: normal;

		@include media( tablet ) {
			@include font-size( 32px );
		}

		@include media( desktop ) {
			@include font-size( 45px );
			letter-spacing: -0.01em;
		}

		@include media( wide ) {
			@include font-size( 42px );
		}

		.separator {
			margin: 0 0.1em;

			@include media( desktop ) {
				margin-left: 0.2em;
			}
		}

	}

	.main-navigation {
		@include font-smoothing;
		display: inline;
		margin-left: 0.2em;

		.menu-main-navigation-container {
			display: inline;
		}

		ul.main-menu {

			@include var(font-family, title_font);
			display: inline;
			margin: 0;
			padding: 0;

			> li {
				display: inline;

				> a {
					@include link-transition;

					&:hover {
						color: $darker_blue;
					}

					&:after {
						content: ",";
						display: inline;
						margin-left: 0.03em;
						color: $light_text;
					}
				}

				&:last-child> a:after {
					content: ".";
				}

				> a {
					@include font-size( 23px );
					@include link-transition;
					text-decoration: none;
					font-weight: 700;
					color: $blue;
					margin-right: 0.1em;

					@include media( tablet ) {
						@include font-size( 31px );
					}

					@include media( desktop ) {
						@include font-size( 42px );
					}

				}

				&:last-child > a {
					margin-right: 0;
				}

			}

		}

		ul.sub-menu {
			display: none;
		}

	}

}

.social-navigation {
	margin-top: 0.6em;
	text-align: center;

	@include media( tablet ) {
		margin-top: 1em;
		text-align: left;
	}

	@include media( desktop ) {
		margin-top: 1.3em;
	}

	ul.social-links-menu {

		display: inline-block;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			list-style: none;

			&:nth-child(n+2) {
				@include media( desktop ) {
					margin-left: 0.2em;
				}
			}

			a {
				display: inline-block;
				line-height: 1;

				svg {
					@include svg-transition;
					display: block;
					line-height: 1;

					&:hover {
						fill: $blue;
					}

					@include media( tablet ) {
						width: 35px;
						height: 35px;
					}

					@include media( desktop ) {
						width: 46px;
						height: 46px;
					}
				}
			}
		}

	}

}

.site-footer {
	@include font-smoothing;
	@include font-size( 15px );

	margin: 4em 0 3em 0;
	padding: 0;

	color: $light_text;

	a {
		color: inherit;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
}