
/** === Site Branding === */

.main-navigation {

	display: none;
	@include font-smoothing;

	> div > ul {

		@include typo_var(font-family, title_font);
		display: inline;
		margin: 0;
		padding: 0;

		> li {
			display: inline-block;

			> a {
				@include link-transition;
				font-weight: 200;
				letter-spacing: .125em;
				text-transform: uppercase;

				&:hover {
					@include color_var(color, color-primary-dark);
				}
			}

			> a {
				@include color_var(color, color-primary);
				@include typo_var(font-size, text_xs);
				@include space_var(padding, space-xs);
				@include link-transition;
				text-decoration: none;
				font-weight: 400;
			}
		}
	}

	ul.sub-menu {
		display: none;
	}

	@include media( tablet ) {
		@include block-space( space-sm, 0 );
		display: inherit;
	}
}

.menu-toggle {

	@include media( tablet ) {
		display: none;
	}
}
