
/** === Typography === */

body,
button,
input,
select,
optgroup,
textarea {
	@include typo_var(font-family, text_font);
	@include typo_var(font-size, text_base_size);
	@include typo_var(line-height, body_line_height);
	@include color_var(color, gray-10);
	@include font-smoothing;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 400;
	@include typo_var(line-height, heading_line_height);
	@include font-smoothing;
}

h2 {
	@include typo_var(font-family, title_font);
	font-weight: 200;
	letter-spacing: .25rem;
	text-transform: uppercase;
}

h5 {
	@include typo_var(font-family, title_font);
	font-weight: 500;
	text-transform: uppercase;
}

h6 {
	@include typo_var(font-family, title_font);
	font-weight: 200;
	letter-spacing: .125rem;
	text-transform: uppercase;
}

/* text size */
.text--xxxl,
p.has-drop-cap:not(:focus):first-letter { // Drop cap font-size
	@include typo_var(font-size, text_xxxl);
}

h1,
.text--xxl,
big {
	@include typo_var(font-size, text_xxl);
}

h2,
.text--xl,
.has-larger-font-size {
	@include typo_var(font-size, text_xl);
}

h3,
.text--lg,
.has-large-font-size {
	@include typo_var(font-size, text_lg);
}

h4,
.text--md,
.has-regular-font-size {
	@include typo_var(font-size, text_md);
}

.text--sm,
small,
.has-small-font-size {
	@include typo_var(font-size, text_sm);
}

.text--xs {
	@include typo_var(font-size, text_xs);
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote,
blockquote.is-large {
	@include block-padding( space-sm, 0 );
	border-top: 1px solid green;

	p {
		@include block-padding( space-xs, 0 );
		@include typo_var(font-size, text_lg);
		font-style: normal;
	}

	cite {
		@include typo_var(font-family, title_font);
		@include typo_var(font-size, text_xs);
		@include color_var(color, color-primary);
		font-style: normal;
		font-weight: 500;

		&:before {
			content: "\2014\00a0";
		}
	}
}

pre {
	@include typo_var(font-family, monospace_font);
	@include typo_var(font-size, text_md);
	line-height: 1.6;
	@include font-smoothing;
}

code, kbd, tt, var, samp {
	@include typo_var(font-size, text_md);
	@include typo_var(font-family, monospace_font);
	@include font-smoothing;
}

mark, ins {
	text-decoration: none;
}

a {
	background-color: transparent;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
