
/** === Typography === */

body,
button,
input,
select,
optgroup,
textarea {
	@include var(font-family, text_font);
	@include var(font-size, text_base_size);
	@include var(line-height, body_line_height);
	color: #111;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 400;
	@include var(line-height, heading_line_height);
}

h2 {
	@include var(font-family, title_font);
	font-weight: 200;
	letter-spacing: .25rem;
	text-transform: uppercase;
}

h5 {
	@include var(font-family, title_font);
	font-weight: 500;
	text-transform: uppercase;
}

h6 {
	@include var(font-family, title_font);
	font-weight: 200;
	letter-spacing: .125rem;
	text-transform: uppercase;
}

/* text size */
.text--xxxl,
p.has-drop-cap:not(:focus):first-letter { // Drop cap font-size
	@include var(font-size, text_xxxl);
}

h1,
.text--xxl {
	@include var(font-size, text_xxl);
}

h2,
.text--xl,
.has-larger-font-size {
	@include var(font-size, text_xl);
}

h3,
.text--lg,
.has-large-font-size {
	@include var(font-size, text_lg);
}

h4,
.text--md,
.has-regular-font-size {
	@include var(font-size, text_md);
}

.text--sm,
small,
.has-small-font-size {
	@include var(font-size, text_sm);
}

.text--xs {
	@include var(font-size, text_xs);
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	@include font-size( 15px );
	background: #eee;
	font-family: $monospace_font;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	@include font-size( 15px );
	font-family: $monospace_font;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}