
/** === Posts and pages === */

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
}

/** === Page header == */

.page-header {

	max-width: $x-grid-column-10;
	border-bottom: 1px solid grey;
	border-bottom-color: $x-color-border-base;
	margin-left: auto;
	margin-right: auto;

	> * {
		padding: 0 $x-space-sm;
	}


	.page-title {
		color: $x-color-words-subtle;
	}

	@include media( desktop ) {

		display: flex;
		align-items: center;
		margin-top: $x-space-lg;
		margin-bottom: $x-space-lg;

		> * {
			max-width: $x-grid-column-7;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
		}

		@at-root body.archive .page-header .page-title:not(:last-child) {
			max-width: $x-grid-column-3;			
		}

		.archive-description {
			font-size: $x-font-size-sm;
			margin-left: $x-space-sm;
			margin-right: $x-space-sm;
			max-width: $x-grid-column-7;
			width: 100%;
		}

	}

}

/** === 404 page === */
.error404,
.search-no-results,
.no-results {
	.page-header {
		display: block;

		.page-title {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.page-content {

		@include media( desktop ) {

			max-width: $x-grid-column-10;
			margin: $x-space-lg auto;
			width: 100%;
		}
	}
}

/** === Comments == */

.comments-area {

	margin: $x-space-lg 0;

	@include media( tablet ) {
		max-width: $x-grid-column-12;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.comments-title,
.no-comments {

	margin: $x-space-sm;
	max-width: $x-grid-column-7;

	@include media( tablet ) {
		margin: $x-space-sm auto;
	}

}

.comment-respond {

	margin: $x-space-lg $x-space-sm $x-space-sm !important;

	@include media( tablet ) {
		max-width: $x-grid-column-7;
		margin: $x-space-lg auto $x-space-sm !important;
	}

	h3 {
		margin-top: 0;

		small {
			display: block;
			font-size: $x-font-size-xs;
			margin: $x-space-xs 0;

			a {
				display: inline;
				text-decoration: underline;
			}
		}
	}

	form {
		> p {
			margin-bottom: $x-space-sm;

			&:not(.form-submit) {

				input {
					width: 100%;
				}
			}
		}
	}
}

.comment-list {

	list-style: none;
	margin: $x-space-sm;

	li {
		padding-left: inherit;
		border-bottom: 1px solid grey;
		border-bottom-color: $x-color-border-base;

		&:before {
			content: "";
			display: none;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.comment {
		list-style: none;
		margin: $x-space-md 0;
	}

	.comment-content {
		a {
			word-wrap: break-word;
		}
	}

	.children {
		margin-left: $x-space-lg;

		.comment {
			width: 100%;

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	@include media( tablet ) {
		max-width: $x-grid-column-7;
		margin-right: auto;
		margin-left: auto;
	}
}

.comment-navigation {
	
	@include media( tablet ) {
		max-width: $x-grid-column-7;
		margin-right: auto;
		margin-left: auto;
	}	
}

.comment-body {

	position: relative;
	min-height: 9rem;

	> * {
		margin: $x-space-sm 0;
		&:first-of-type {
			margin-top: 0;
		}
	}

	.reply {
		margin: $x-space-sm 0;
		font-family: $x-font-family-heading;
		font-size: $x-font-size-xs;
		text-transform: uppercase;
	}
}

.comment-author {

	margin-bottom: $x-space-xxs;
	display: flex;
	align-items: center;

	.avatar {
		margin-right: $x-space-xs;
	}

	cite {
		color: $x-color-secondary-base;
		margin-bottom: $x-space-xs;
		font-family: $x-font-family-heading;
		font-size: $x-font-size-sm;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		width: 100%;

	}

	@include media( tablet ) {
		justify-content: flex-end;
	}
}

.comment-meta {
	font-size: $x-font-size-sm;
	margin-top: -1.4rem;
	margin-left: 60px;

	a {
		color: $x-color-words-subtle;
	}

	@include media( tablet ) {	
		margin-left: 65px;
	}
}

.avatar {
	@include rounded(100%);
	display: block;
	float: left;
	width: 60px;
}

.bypostauthor {
	display: block;
}

/* Jetpack Cpmments (WordPress.com) */
.comments-area #respond {
	font-family: inherit;
	font-weight: inherit;
}

.comments-area #respond p.form-submit input#comment-submit {
	background: $x-color-accent-base !important;
	border: 0;
	@include rounded( 3px );
	color: #fff !important;
	font-family: $body-font;
	font-size: inherit !important;
	font-weight: bold !important;
	line-height: inherit !important;
	padding: $x-space-xs $x-space-sm !important;
	text-shadow: none !important;
}

/** === Search Form === */

.search-form {
	input[type="search"] {
		vertical-align: middle;
		margin-right: 0.2em;
		padding: 6px;
	}
	input[type="submit"] {
		padding: $x-space-xs;
	}
}

/** === Infinite scroll === */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

/* Infinite Handle */
#infinite-handle {
	padding: $x-space-lg 0;
	text-align: center;
}

#infinite-handle span {
	background: transparent;
	border-radius: 0;
	color: inherit;
	font-size: inherit;
	padding: 0;
}

/* Infinite Loader */
.site-main .infinite-loader {
	box-sizing: content-box;
	padding: $x-space-lg auto;
}

.infinite-loader .spinner {
	left: 50% !important;
	top: 50% !important;
	z-index: 9998 !important;
}

.infinite-loader .spinner div {
	background: currentcolor !important;
	color: $x-color-border-base;
}


/** === Media === */

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}

.custom-logo-link {
	display: inline-block;
}

/** === Captions === */

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** === Galleries === */

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
