
/** === Posts and pages === */

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

//.page-content,
//.entry-content,
//.entry-summary {
//	margin: 1.5em 0 0;
//}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/** === Comments == */

.comments-area {

	@include block-space( space-lg, 0 );

	@include media( tablet ) {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		max-width: $width-column-12;
		width: 100%;
	}
}

.comments-title {
	@include block-space( space-sm, 0 );
	flex: 1 1 auto;
	//max-width: calc( #{$width-column-4} );
	//width: 100%;
}

.comment-respond {
	@include block-space;

	@include media( tablet ) {
		margin-right: $width-column-2;
		max-width: calc( #{$width-column-6} );
		width: 100%;
	}

	h3 {
		margin: 0;
	}
}

.comment-list {

	list-style: none;
	@include block-space;

	.comment {
		list-style: none;
		@include block-space( space-md, 0 );
	}

	.comment-content {
		a {
			word-wrap: break-word;
		}
	}

	.children {
		@include space_var(margin-left, space-md);

		.comment {
			width: 100%;
		}
	}

	@include media( tablet ) {
		@include block-space( space-sm, 0 );
		margin-right: $width-column-2;
		max-width: calc( #{$width-column-6} );
		width: $width-column-7;
	}
}

.comment-body {
	position: relative;
	max-width: calc( #{$width-column-6} );
	min-height: 9rem;

	> * {

		@include block-space( space-sm, 0 );

		&:first-of-type {
			margin-top: 0;
		}
	}

	.reply {
		@include block-space( space-sm, 0 );
		@include typo_var(font-family, title_font);
		@include typo_var(font-size, text_xs);
		text-transform: uppercase;
	//	text-align: right;
	}
}

.comment-author {
	@include space_var(margin-bottom, space-xxs);
	display: flex;
	align-items: center;

	cite {
		@include block-space( 0, space-sm );
		@include space-var( padding-top, space-sm );
		@include space-var( padding-bottom, space-sm );
		@include typo_var( font-family, title_font );
		@include typo_var( font-size, text_sm );
		border-top: 1px solid grey;
		@include color-var( border-top-color, color-border );
		font-weight: 500;
		font-style: normal;
		letter-spacing: .125rem;
		text-transform: uppercase;
		width: 100%;
	}
}

.comment-meta {
	@include typo_var(font-family, title_font);
	@include typo_var(font-size, text_xs);
	position: absolute;
	left: calc( 60px + 1rem );
	margin-top: -1.4rem;

	a {
		@include color_var( color, color-text-subtle );
	}

	@include media( tablet ) {
		left: calc( 100% + #{$width-gutter}px );
		margin-top: inherit;
		width: calc( #{$width-column-1} );
	}
}

.avatar {
	@include rounded(100%);
	display: block;
	flex: 0 0 auto;
	width: 60px;
	height: 60px;
}

.bypostauthor {
	display: block;
}

/** === Infinite scroll === */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}


/** === Media === */

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}

.custom-logo-link {
	display: inline-block;
}

/** === Captions === */

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/** === Galleries === */

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
