
$primary-color:   #444444; // body text 

$secondary-color: #000000; // headings

$accent-color: #ea8664;

$x-color-primary-base:  $primary-color;
$x-color-primary-dark:  shade( $primary-color, 20% );
$x-color-primary-light: tint( $primary-color, 20% );
$x-color-primary-bg:    tint( $primary-color, 80% );

$x-color-secondary-base:  $secondary-color;
$x-color-secondary-bg:    tint( $secondary-color, 80% );
$x-color-secondary-light: tint( $secondary-color, 20% );
$x-color-secondary-dark:  shade( $secondary-color, 20% );

$x-color-accent-base:  $accent-color;
$x-color-accent-light: tint( $accent-color, 20% );

/*$x-color-shade-black:   #1d1d21;
$x-color-shade-gray-10: #2e2e31;*/
$x-color-shade-gray-6:  #91a3b0; // #7b7a7d;
$x-color-shade-gray-4:  #e5e5e5;
/*
$x-color-shade-gray-3:  #a8b1b8;
*/$x-color-shade-gray-2:  #FBE9E2;
/*$x-color-shade-gray-1:  #e8ecf1;*/
$x-color-shade-white:   #ffffff;

$x-color-feedback-success: #88c459;
$x-color-feedback-error:   #f5414f;
$x-color-feedback-warning: #ffd137;

$x-color-words-base:       $x-color-primary-base;
$x-color-words-subtle:     $x-color-shade-gray-6;
$x-color-words-heading:    $x-color-secondary-base;

$x-color-border-base:             $x-color-shade-gray-4;
$x-color-border-form-focus:       $x-color-primary-base;

$x-color-background-body:        $x-color-shade-white;
