$body-background: #120c0e;

$primary-color: #a8a2a2; // body text

$secondary-color: #dedde5; // headings

$accent-color: #2c8bcf; // links & stuff

// Extras
$color-c: #403539; // dark gray
$color-d: #74696d; // medium gray

// Unused?
$header-background: tint( $body-background, 10% );

$x-color-primary-base:  $primary-color;
$x-color-primary-dark:  shade( $primary-color, 20% );
$x-color-primary-light: tint( $primary-color, 20% );
$x-color-primary-bg:    tint( $primary-color, 80% );

$x-color-secondary-base:  $secondary-color;
$x-color-secondary-bg:    tint( $secondary-color, 80% );
$x-color-secondary-light: tint( $secondary-color, 20% );
$x-color-secondary-dark:  shade( $secondary-color, 20% );

$x-color-accent-base:  $accent-color;
$x-color-accent-light: tint( $accent-color, 20% );

$x-color-shade-gray-6:  #91a3b0; // #7b7a7d;
$x-color-shade-gray-4:  #8b949d;
$x-color-shade-gray-2:  #e8ecf1; // #e8e8e8
$x-color-shade-white:   #ffffff;

$x-color-feedback-success: #88c459;
$x-color-feedback-error:   #f5414f;
$x-color-feedback-warning: #ffd137;

$x-color-words-base:       $x-color-primary-base;
$x-color-words-subtle:     $x-color-shade-gray-6;
$x-color-words-heading:    $x-color-secondary-base;

$x-color-border-base: $color-c;
$x-color-border-form-focus: $x-color-primary-base;

$x-color-background-body: $body-background;

$x-color-hr: $color-c;