
$body-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$heading-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$code-font: Menlo, monaco, Consolas, Lucida Console, monospace;

$font-size-base: 1em;
$font-size-ratio: 1.2;
$font-size-responsive-ratio: 1.1;

$x-font-size-base: $font-size-base;
$x-font-size-ratio: $font-size-ratio;
$x-font-size-responsive-ratio: $font-size-responsive-ratio;

// Using `unquote()` on the variables below to prevent node-sass segmentation fault.

$x-font-size-xxs: unquote( "calc( 1em / ( #{$x-font-size-ratio} * #{$x-font-size-ratio} * #{$x-font-size-ratio} ) )" );
$x-font-size-xs: unquote( "calc( 1em / ( #{$x-font-size-ratio} * #{$x-font-size-ratio} ) )" );
$x-font-size-sm: unquote( "calc( 1em / #{$x-font-size-ratio} )" );
$x-font-size-md: unquote( "calc( 1em * #{$x-font-size-ratio} )" );
$x-font-size-lg: unquote( "calc( 1em * ( #{$x-font-size-ratio} * #{$x-font-size-ratio} ) )" );
$x-font-size-xl: unquote( "calc( 1em * ( #{$x-font-size-ratio} * #{$x-font-size-ratio} * #{$x-font-size-ratio} ) )" );
$x-font-size-xxl: unquote( "calc( 1em * ( #{$x-font-size-ratio} * #{$x-font-size-ratio} * #{$x-font-size-ratio} * #{$x-font-size-ratio} ) )" );
$x-font-size-xxxl: unquote( "calc( 1em * ( #{$x-font-size-ratio} * #{$x-font-size-ratio} * #{$x-font-size-ratio} * #{$x-font-size-ratio} * #{$x-font-size-ratio} ) )" );

$x-font-family-body: $body-font;
$x-font-family-heading: $heading-font;
$x-font-family-code: $code-font;

$x-font-leading-body: 1.6;
$x-font-leading-heading: 1.2;
$x-font-leading-double: calc( #{$x-font-leading-heading} * 2 );

$x-font-leading-md: 1.4;

$x-font-letter-spacing: .125em;