
// Typography variables

$font: (

  family: (
    body: (Baskerville, Baskerville Old Face, Hoefler Text, Garamond, Times New Roman, serif),
    heading: (-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif),
    code: (Menlo, monaco, Consolas, Lucida Console, monospace),
  ),

  size: (
	base: 18px,
	ratio: 1.2,
    body: 18px,
    xxs: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio))),
    xs: calc(1em / (var(--font-size-ratio) * var(--font-size-ratio))),
    sm: calc(1em / var(--font-size-ratio)),
    md: calc(1em * var(--font-size-ratio)),
    lg: calc(1em * var(--font-size-ratio) * var(--font-size-ratio)),
    xl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio)),
    xxl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio)),
    xxxl: calc(1em * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio)),
  ),

  leading: (
    body: 1.4,
    heading: 1.2,
  )

);

