
$x-space-unit: 1.5rem;

$x-space-xxs: calc(0.25 * #{$x-space-unit});
$x-space-xs: calc(0.5 * #{$x-space-unit});
$x-space-sm: calc(0.75 * #{$x-space-unit});
$x-space-md: calc(1.25 * #{$x-space-unit});
$x-space-lg: calc(2 * #{$x-space-unit});
$x-space-xl: calc(3.25 * #{$x-space-unit});
$x-space-xxl: calc(5.25 * #{$x-space-unit});

$x-space-base: $x-space-sm;

$x-space-column: 80px;
$x-space-gutter: 25px;
$x-space-column-count: 12;

$x-space-column-1: calc( 1 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-2: calc( 2 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-3: calc( 3 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-4: calc( 4 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-5: calc( 5 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-6: calc( 6 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-7: calc( 7 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-8: calc( 8 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-9: calc( 9 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-10: calc( 10 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-11: calc( 11 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );
$x-space-column-12: calc( 12 * ( #{$x-grid-column} + #{$x-grid-gutter} ) - #{$x-grid-gutter} );